<div *ngIf="stringValue" class="editJsonWindow">

  <div style="margin-bottom: .5em; flex-shrink: 1;">
    <p-button type="button" label="Reset Values" (onClick)="resetValues()" [disabled]="readOnly"></p-button>
  </div>

  <ace-editor
    [(text)]="stringValue"
    mode="json"
    [options]="aceEditorOptions"
    [readOnly]="readOnly"
    [autoUpdateContent]="true"
    durationBeforeCallback="500"
    (textChanged)="onValueChanged($event)"
    style="width: 100%; flex-grow: 1;"></ace-editor>

  <div class="editJsonButtonGroup">
    <vertical-center>
      <div [class.failure]="!canSubmit">{{canSubmit ? 'Valid' : 'Invalid'}} JSON</div>
    </vertical-center>

    <div>
      <p-button *ngIf="!readOnly" type="button" label="Accept" (onClick)="onAccept()" [disabled]="!canSubmit"></p-button>
      <p-button type="button" [label]="readOnly ? 'Close' : 'Cancel'" (onClick)="onCancel()"></p-button>
    </div>
  </div>

</div>
