<div
  class="ngx-json-viewer"
  (clickOutside)="onClickOutside()"
  [clickOutsideEnabled]="enableClickOutside">
  
  <!-- Root Segment -->
  <div *ngIf="depth === 1 else jsonViewer" class="segment expanded" [ngClass]="['segment-type-' + typeOfJson]">
  
    <!-- key name -->
    <span class="segment-key">root</span>
  
    <!-- separator -->
    <span class="segment-separator">: </span>
  
    <!-- value -->
    <span class="segment-value"> {{typeOfJson === 'object' ? '{}' : '[]'}} {{jsonLen}} items</span>
  

    <!-- Project Segments Template Under Root -->
    <ng-container *ngTemplateOutlet="jsonViewer"></ng-container>

</div>


<!-- Template for Segments -->
<ng-template #jsonViewer>

  <div class="ngx-json-viewer" [class.children]="depth !== 1">

    <!-- segments -->
    <div
      *ngFor="let segment of segments"
      [ngClass]="['segment', 'segment-type-' + segment.type]"
      [attr.jmespath]="segment.path"
      (mouseover)="hovering = segment"
      (mouseout)="hovering = undefined"
      [class.expanded]="segment.expandable && segment.expanded">

        <!-- Spacer div -->
        <div
          [style.width.rem]="segment.spacerValue"
          style="display: inline-block;"
          class="spacer">
        </div>

        <!-- Selector Arrow -->
        <div
          [style.visibility]="hovering && enableSelectionIcon(segment) ? 'visible' : 'hidden'"
          class="arrowSelector pi pi-arrow-circle-left enabledIcon"
          (click)="onSelectionClicked(segment)"
          [style.left.rem]="segment.expandable && segment.hasChildren ? segment.spacerValue - 2.4 : segment.spacerValue - 1.7">
        </div>

    
        <!-- make entire row clickable -->
        <!--
        <div
          (click)="rowClickHandler(segment)"
          class="segment-main"
          [class.expandable]="segment.expandable || selectionMode"
          [class.expanded]="segment.expanded"
          [style.padding-left]="segment.expandable ? '0' : '1.25em'">
        </div>
        -->


        <!-- toggle expand/collapse -->
        <div
          *ngIf="segment.expandable && segment.hasChildren"
          (click)="expansionArrowClickHandler($event, segment)"
          class="toggler pi"
          [class.pi-chevron-right]="!segment.expanded"
          [class.pi-chevron-down]="segment.expanded"
          [style.left.rem]="segment.spacerValue - .8">
        </div>

        <!-- key name -->
        <span
          class="segment-key"
          [style.color]="segment.type === 'object' || segment.type === 'array' ? 'white' : undefined"
          (click)="keyClickHandler(segment)">
            {{segment.key}}
        </span>

        <!-- separator -->
        <span class="segment-separator">: </span>

        <!-- value | description  -->
        <span class="segment-value">{{segment.description}}</span>
    
    
        <!-- If expanded, pop in another ngx-json-viewer -->
        <ngx-json-viewer
          *ngIf="segment.expandable && segment.expanded"
          class="children"
          [json]="segment.value"
          [expanded]="expanded"
          [depth]="depth + 1"
          [path]="segment.path"
          [selectionMode]="selectionMode"
          [selectionModeFieldType]="selectionModeFieldType"
          (mouseover)="childHovering = segment"
          (mouseout)="childHovering = undefined">
        </ngx-json-viewer>
    
    </div>

  </div>

</ng-template>