$type-colors: (
  string: #798953,
  number: #d28445,
  boolean: #75b5aa,
  array: #999,
  object: #999,
  'null': #b0b0b0
);

ngx-json-viewer {
  display: contents; // pass through the host element and use .ngx-json-viewer class instead
}

.ngx-json-viewer {
  display: block;
  // font-family: monospace;
  overflow-x: auto;
  overflow-y: hidden;

  .segment {
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 1px 0 1px 0;
    position: relative;
    font-size: 1em;

    // overflow-x: auto;
    // overflow-y: none;

    .segment-key {
      color: #7e7e7e;
      font-weight: 700;
    }

    .segment-separator {
      color: #999;
    }

    .segment-value {
      display: inline-block;
      word-wrap: break-word;
      // word-wrap: none;
      color: #000;
      font-weight: 700;
    }
    
    .root-toggler {
      font-weight: bolder;
      margin-top: 3px;
      font-size: .8em;
      line-height: 1.2em;
      color: white;
    }

    .toggler {
      position: absolute;
      font-weight: bolder;
      margin-top: 3px;
      font-size: .8em;
      line-height: 1.2em;
      vertical-align: top;
      color: white;
    }

    .arrowSelector {
      position: absolute;
      line-height: .8em;
      font-size: 2em;
      cursor: pointer;
    }
  }


  @each $type, $color in $type-colors {
    // .segment-type-#{$type} > .segment-main > .segment-value {
    .segment-type-#{$type} > .segment-value {
      color: $color;
      word-break: break-all;
      // word-break: ;
      overflow-wrap: anywhere;
    }
  }
  
  // .segment-type-undefined > .segment-main {
  .segment-type-undefined > .segment-main {
    & > .segment-key {
      color: #999;
    }
    & > .segment-value {
      background-color: #999;
    }
  }
  .segment-type-object > .segment-main,
  .segment-type-array > .segment-main {
    white-space: nowrap;
  }


  .expandable,
  .expandable > .toggler {
    cursor: pointer;
  }
}
