<div class="ngx-json-viewer">
  
  <!-- Root Segment -->
  <div *ngIf="firstLevel else jsonViewer" class="segment" [ngClass]="['segment-type-' + typeOfJson]">

    <div class="segment-main expandable expanded">
  
      <i class="toggler pi pi-chevron-down"></i>
  
      <!-- key name -->
      <span class="segment-key">root</span>
    
      <!-- separator -->
      <span class="segment-separator">: </span>
    
      <!-- value -->
      <span class="segment-value"> {{typeOfJson === 'object' ? '{}' : '[]'}} {{jsonLen}} items</span>
  
    </div>

    <!-- Project Segments Template Under Root -->
    <ng-container *ngTemplateOutlet="jsonViewer"></ng-container>

</div>


<!-- Template for Segments -->
<ng-template #jsonViewer>

  <div class="ngx-json-viewer" [class.children]="!firstLevel">

    <!-- segments -->
    <div
      *ngFor="let segment of segments"
      [ngClass]="['segment', 'segment-type-' + segment.type]"
      [attr.jmespath]="segment.path"
      (mouseover)="hovering = segment"
      (mouseout)="hovering = undefined">

        <div
          style="display: inline-block; cursor: pointer; line-height: 0; font-size: 2em; vertical-align: middle;"
          [style.visibility]="hovering && enableSelectionIcon(segment) ? 'initial' : 'hidden'"
          class="pi pi-arrow-circle-left enabledIcon"
          (click)="onSelectionClicked(segment)">
        </div>
    
        <!-- make entire row clickable -->
        <div
          (click)="rowClickHandler(segment)"
          class="segment-main"
          [class.expandable]="segment.expandable || selectionMode"
          [class.expanded]="segment.expanded">
    
          <!-- expand/collapse arrow -->
          <ng-container *ngIf="segment.expandable">
            <div
              class="toggler pi pi-chevron-left"
              [class.pi-chevron-right]="!segment.expanded"
              [class.pi-chevron-down]="segment.expanded"
              style="color: white;">
            </div>
          </ng-container>
  
          <!-- key name -->
          <span class="segment-key" [style.color]="segment.type === 'object' ? 'white' : undefined">{{segment.key}}</span>
  
          <!-- separator -->
          <span class="segment-separator">: </span>
  
          <!-- value | description  -->
          <span class="segment-value">{{segment.description}}</span>
    
        </div>
    
    
        <!-- If expanded, pop in another ngx-json-viewer -->
        <ngx-json-viewer
          *ngIf="segment.expanded && segment.expandable"
          class="children"
          [json]="segment.value"
          [expanded]="expanded"
          [firstLevel]="false"
          [path]="segment.path"
          [selectionMode]="selectionMode"
          [selectionModeFieldType]="selectionModeFieldType"
          [jsonSelectionReceivedSubject]="jsonSelectionReceivedSubject">
        </ngx-json-viewer>
    
    </div>

  </div>

</ng-template>