<ng-container *ngIf="loggedInUser">

  <div class="formContainer">

    <div class="appHeader">

      <img src="/assets/incident_creator_logo.png" style="margin-top: 1em;">

    </div>


    <!--<div style="margin-top: 1em; margin-right: 1em; float: right;">Logged in as: <span style="font-weight: bold;"> {{loggedInUser.username}}</span></div>-->

    



    <div style="margin-top: 0; margin-bottom: 1em;">This app creates Cortex XSOAR incidents from JSON data.  The data can be either incident JSON imported from XSOAR or mapped from 3rd-party JSON sources.  The fields to be imported are selectable and editable.  These can be saved in configurations for easy retrieval.</div>



    <!-- XSOAR Servers-->
    <p-card header="XSOAR Servers">

      <h3 style="margin-top: .5em; text-decoration: underline; color: white;">{{currentDemistoEndpointName ? currentDemistoEndpointName : 'No XSOAR servers are defined'}}</h3>


      <div style="margin-top: 1em;">

        <p-button
          label="Select"
          (onClick)="onOpenDemistoServersClicked()"
          styleClass="alignButton">
        </p-button>

        <p-message
          *ngIf="currentDemistoEndpointInit"
          severity="success" text="XSOAR Connected">
        </p-message>

        <p-message
          *ngIf="!currentDemistoEndpointInit"
          severity="error"
          text="XSOAR Not Connected">
        </p-message>

      </div>

    </p-card>


    <!-- File -->
    <p-card
      *ngIf="currentDemistoEndpointName && currentDemistoEndpointInit"
      header="File"
      subheader="Load an incident from Cortex XSOAR, upload an incident JSON file, or perform other file and bulk create operations.">

      <div style="margin-top: 1em;">
        
        <!-- <span class="formLabel"> - OR -&nbsp;&nbsp;&nbsp;</span> -->

        <!-- New Mapping -->
        <p-button
          label="New"
          (onClick)="onNewJsonMappingClicked()">
        </p-button>
        
        <!-- Open -->
        <p-button
          label="Open"
          (onClick)="onOpenClicked()"
          styleClass="alignButton"
          [disabled]="savedIncidentConfigurationsLen === 0"
          pTooltip="Open a saved incident configuration"
          showDelay="750">
        </p-button>

        <!-- Import Mapped Config -->
        <p-button
          label="Import"
          (onClick)="onImportConfigClicked()"
          [disabled]="!currentDemistoEndpointInit"
          pTooltip="Import an exported incident mapping configuration"
          showDelay="750">
        </p-button>
        
        <!-- Load From XSOAR -->
        <p-button
          label="XSOAR Import"
          (onClick)="onLoadFromDemistoClicked()"
          [disabled]="!currentDemistoEndpointInit"
          pTooltip="Import an incident directly from XSOAR"
          showDelay="750">
        </p-button>
        
        <!-- Upload Incident JSON -->
        <p-fileUpload
          #fileUpload
          name="myfile[]"
          mode="basic"
          chooseLabel="Incident JSON"
          [customUpload]="true"
          (uploadHandler)="onIncidentJsonUploaded($event, fileUpload)"
          accept=".json,.txt"
          [multiple]="false"
          [auto]="true"
          pTooltip="Import an incident from a JSON file"
          showDelay="750">
        </p-fileUpload>

        <!-- Delete Incident -->
        <p-button
          label="Delete Incidents"
          (onClick)="onDeleteConfigClicked()"
          [disabled]="savedIncidentConfigurationsLen === 0">
        </p-button>

        <!-- JSON Groups -->
        <p-button
          type="button"
          label="JSON Groups"
          name="jsonGroupButton"
          (onClick)="onJsonGroupButtonClicked()"
          [disabled]="!savedJsonConfigurations || savedJsonConfigurations.length === 0"
          pTooltip="Reload the field definitions from XSOAR">
        </p-button>

        <!-- Bulk Create -->
        <p-button
          label="Bulk Create"
          (onClick)="onBulkCreateClicked()"
          [disabled]="savedIncidentConfigurationsLen === 0 || demistoEndpointsLen === 0"
          pTooltip="Create incidents of one or more types, and on one or more XSOAR servers"
          showDelay="750">
        </p-button>

        <!-- Bulk Create Results -->
        <p-button
          *ngIf="this.bulkCreateResults.length !== 0"
          label="Bulk Create Results"
          (onClick)="showBulkResultsDialog = true">
        </p-button>

        <!-- File Attachments -->
        <p-button
          label="File Attachments"
          (onClick)="onFileAttachmentsButtonClicked()"
          pTooltip="Manage file attachments"
          showDelay="750">
        </p-button>

      </div>

    </p-card>


    <!-- Freeform JSON UI -->
    <freeform-json-ui
      *ngIf="showJsonMappingUI && fetchedIncidentFieldDefinitions && fetchedIncidentTypes"
      [loadedIncidentConfigId]="loadedIncidentConfigId"
      [loadedIncidentConfigName]="loadedIncidentConfigName"
      [loadDefaultChosenFields]="loadDefaultChosenFields"
      [demistoEndpointsItems]="demistoEndpointsItems"
      [currentDemistoEndpointName]="currentDemistoEndpointName"
      [currentDemistoEndpointInit]="currentDemistoEndpointInit"
      [fetchedIncidentFieldDefinitions]="fetchedIncidentFieldDefinitions"
      [fetchedIncidentTypes]="fetchedIncidentTypes"
      [savedIncidentConfigurations]="savedIncidentConfigurations"
      (savedIncidentConfigurationsChanged)="onSavedIncidentConfigurationsChanged($event)"
      [savedJsonConfigurations]="savedJsonConfigurations"
      [savedJsonConfigurationsObj]="savedJsonConfigurationsObj"
      (messageAdd)="messageAdd($event)"
      (messagesReplace)="messagesReplace($event)"
      (messageWithAutoClear)="messageWithAutoClear($event)"
      (freeformJsonConfigurationsChanged)="getSavedJsonConfigurations()"
      (reloadFieldDefinitions)="fetchIncidentFieldDefinitions($event)"
      [fileAttachmentConfigs]="fileAttachmentConfigs"
      [fileAttachmentConfigsList]="fileAttachmentConfigsList"
      (fileAttachmentConfigsChanged)="onFileAttachmentConfigsChanged()">
    </freeform-json-ui>
    
    <div>&nbsp;</div>

  </div>




  
  <!--------------DEMISTO ENDPOINT MODAL DIALOGS SECTION-------------->

  <!-- Select XSOAR Endpoint Dialog -->
  <p-dialog
    header="XSOAR Servers"
    [(visible)]="showDemistoEndpointOpenDialog"
    [modal]="true"
    [style]="{width: '50%'}"
    styleClass="bulkCreateDialog">

      <!-- header bar -->
      <div>

        <!-- New -->
        <p-button
          label="New"
          (onClick)="onNewDemistoEndpointClicked()"
          styleClass="alignButton">
        </p-button>

        <!-- Edit -->
        <p-button
          *ngIf="demistoEndpointsLen !== 0"
          label="Edit"
          (onClick)="onEditDemistoEndpointClicked()"
          styleClass="alignButton"
          [disabled]="!selectedDemistoEndpointName">
        </p-button>

        <!-- Delete -->
        <p-button
          *ngIf="demistoEndpointsLen !== 0"
          label="Delete"
          (onClick)="onDeleteDemistoEndpointClicked()"
          styleClass="alignButton"
          [disabled]="!selectedDemistoEndpointName">
        </p-button>

        <!-- Test -->
        <p-button
          *ngIf="demistoEndpointsLen !== 0"
          label="Test"
          (onClick)="onTestDemistoEndpointClicked()"
          styleClass="alignButton"
          [disabled]="!selectedDemistoEndpointName">
        </p-button>

        <!-- Default -->
        <p-button
          *ngIf="demistoEndpointsLen !== 0"
          label="Set Default"
          (onClick)="onSetDefaultDemistoEndpointClicked()"
          styleClass="alignButton"
          [disabled]="!selectedDemistoEndpointName">
        </p-button>

        <!-- Refresh -->
        <p-button
          label="Refresh"
          (onClick)="onRefreshDemistoEndpointsClicked()"
          styleClass="alignButton">
        </p-button>

        <p-message
          *ngIf="currentDemistoEndpointInit"
          severity="success"
          text="XSOAR Connected">
        </p-message>
        
        <p-message
          *ngIf="!currentDemistoEndpointInit"
          severity="error"
          text="XSOAR Not Connected">
        </p-message>

      </div>

      <div style="margin-top: 1em;">

        <span class="formLabel">Current XSOAR Server: </span>

            <span class="formLabel" style="text-decoration: underline;">{{currentDemistoEndpointName ? currentDemistoEndpointName : 'No server is selected'}}</span>

      </div>

      <div style="margin-top: 1em;">

        <span *ngIf="demistoEndpointsLen === 0; else demistoEndpoints" style="font-weight: bold;">No XSOAR servers are defined</span>

      </div>

      <ng-template #demistoEndpoints>

        <div class="formLabel">Select a server</div>

        <p-listbox
          [options]="demistoEndpointsItems"
          [(ngModel)]="selectedDemistoEndpointName"
          [style]="{'width':'100%'}"
          (onDblClick)="onDemistoEndpointSelected()"
          [filter]="true">
        </p-listbox>

      </ng-template>

      <div style="margin-top: .5em; float: right;">

        <p-button
          *ngIf="demistoEndpointsLen !== 0"
          label="Select"
          (onClick)="onDemistoEndpointSelected()"
          [disabled]="!selectedDemistoEndpointName">
        </p-button>

        <p-button
          label="Close"
          (onClick)="showDemistoEndpointOpenDialog = false">
        </p-button>

      </div>

  </p-dialog>



  <!-- Delete Demisto Endpoint Dialog -->
  <p-dialog
    header="Delete XSOAR Server"
    [(visible)]="showDeleteDemistoEndpointDialog"
    [modal]="true"
    [style]="{width: '50%'}"
    styleClass="deleteConfigDialog"
    (onHide)="onDeleteDemistoEndpointHidden()">

      <div class="formLabel">Please confirm deletion of XSOAR server "{{demistoEndpointToDelete}}"</div>

      <div style="margin-top: .5em; float: right;">

        <p-button
          label="Confirm"
          (onClick)="onDeleteDemistoEndpointConfirmed()">
        </p-button>

        <p-button
          label="Cancel"
          (onClick)="showDeleteDemistoEndpointDialog = false">
        </p-button>

      </div>

  </p-dialog>



  <!-- New / Edit Demisto Endpoint Server Dialog -->
  <p-dialog
    [header]="newDemistoServerDialogMode === 'new' ? 'New XSOAR Server' : 'Edit XSOAR Server'"
    [(visible)]="showNewDemistoEndpointDialog"
    [modal]="true"
    [style]="{width: '500px'}"
    styleClass="newDemistoEndpointDialog"
    (onHide)="onNewEditDemistoEndpointHidden()">

      <!--<div style="margin-bottom: .5em;" class="formLabel">Configuration Name</div>-->

      <div style="margin-top: 1.5em;">
        <span class="ui-float-label">
          <input pInputText type="url" id="url" required [(ngModel)]="newDemistoServerUrl" name="url" class="inputDisplay">
          <label for="url">XSOAR Base URL</label>
        </span>
      </div>

      <div style="margin-top: 1.5em;">
        <span class="ui-float-label">
          <input pInputText type="password" id="apiKey" required [(ngModel)]="newDemistoServerApiKey" name="apiKey" size="50" autocomplete="off" class="inputDisplay" standalone>
          <label for="apiKey">API Key</label>
        </span>
      </div>

      <div style="margin-top: 1.5em;">
        <span class="formLabel">Trust Any Certificate&nbsp;&nbsp;</span>
        <p-inputSwitch name="trustAny" [(ngModel)]="newDemistoServerTrustAny" [style]="{'vertical-align' : 'middle' }"></p-inputSwitch>
      </div>

      <div style="margin-top: .5em;">{{newDemistoServerSaveDisabled ? 'This name is already taken' : '&nbsp;'}}</div>

      <div style="margin-top: .5em; float: right;">

        <!-- Test Button -->
        <p-button
          label="Test"
          (onClick)="testDemistoEndpointAdHoc(newDemistoServerUrl, newDemistoServerApiKey, newDemistoServerTrustAny)"
          [disabled]="newEditTestButtonDisabled">
        </p-button>

        <!-- Save Button -->
        <p-button label="Save"
          *ngIf="newDemistoServerDialogMode === 'new'"
          (onClick)="onNewDemistoEndpointSaved()"
          [disabled]="!newDemistoServerUrl || !newDemistoServerApiKey || newDemistoServerSaveDisabled">
        </p-button>

        <!-- Update Button -->
        <p-button
          label="Update"
          *ngIf="newDemistoServerDialogMode === 'edit'"
          (onClick)="onDemistoEndpointUpdated(newDemistoServerUrl)"
          [disabled]="!newDemistoServerUrl || newDemistoServerSaveDisabled">
        </p-button>

        <p-button
          label="Cancel"
          (onClick)="onNewDemistoEndpointCanceled()">
        </p-button>

      </div>

  </p-dialog>






  <!--------------INCIDENT FIELD CONFIG MODAL DIALOGS SECTION-------------->

  <!-- Open Incident Config Dialog -->
  <p-dialog
    header="Select a Saved Incident"
    [(visible)]="showOpenDialog"
    [modal]="true"
    [style]="{width: '300px'}"
    [contentStyle]="{'overflow':'visible'}"
    styleClass="openDialog">

      <div class="formLabel">Configuration to open</div>

      <p-listbox
        [options]="savedIncidentConfigItems"
        [(ngModel)]="selectedIncidentConfigIdToOpen"
        [style]="{'width':'100%'}"
        (onDblClick)="onConfigOpened()"
        [filter]="true">
      </p-listbox>

      <div style="margin-top: .5em;">

        <p-button
          label="Open"
          (onClick)="onConfigOpened()">
        </p-button>

        <p-button
          label="Cancel"
          (onClick)="onOpenCanceled()">
        </p-button>

      </div>

  </p-dialog>
  


  <!-- Delete Saved Incident Config Dialog -->
  <p-dialog
    header="Delete Saved Incident"
    [(visible)]="showDeleteDialog"
    [modal]="true"
    [style]="{width: '300px'}"
    [contentStyle]="{'overflow':'visible'}"
    styleClass="deleteConfigDialog">

      <div class="formLabel">Configurations to delete</div>

      <p-listbox
        [options]="savedIncidentConfigItems"
        [(ngModel)]="selectedDeleteConfigs"
        [multiple]="true"
        [filter]="true"
        [checkbox]="true"
        [style]="{'width':'100%'}">
      </p-listbox>

      <div style="margin-top: .5em;">

        <p-button
          label="Delete"
          (onClick)="onDeleteIncidentConfigAccepted()">
        </p-button>

        <p-button
          label="Cancel"
          (onClick)="onDeleteConfigCanceled()">
        </p-button>

      </div>

  </p-dialog>



  <!-- Bulk Create Incident Dialog -->
  <p-dialog
    header="Bulk Incident Creation"
    [(visible)]="showBulkCreateDialog"
    [modal]="true"
    [style]="{maxWidth: '85%', maxHeight: '75%'}"
    styleClass="bulkCreateDialog">


      <div *ngIf="bulkCreateSelections" class="bulkCreateContainer">

        <div class="bulkCreateContainerColumn">

          <div class="formLabel">Select configurations to push to XSOAR</div>

          <p-listbox
            [options]="savedIncidentConfigItems"
            [(ngModel)]="selectedBulkCreateIncidentConfig"
            [style]="{'width':'100%'}"
            [multiple]="false"
            [checkbox]="false"
            [filter]="true">
          </p-listbox>

        </div>

        <div
          *ngIf="selectedBulkCreateIncidentConfig && demistoEndpointsItems"
          class="bulkCreateContainerColumn">

          <div class="formLabel">
            Select XSOAR servers to push to
          </div>

          <p-listbox
            [options]="demistoEndpointsItems"
            [(ngModel)]="bulkCreateSelections[selectedBulkCreateIncidentConfig].endpoints"
            [style]="{'width':'100%'}"
            [multiple]="true"
            [checkbox]="true"
            [filter]="true"
            [disabled]="!selectedBulkCreateIncidentConfig"
            (onChange)="buildBulkConfigurationsToPushItems()">
          </p-listbox>

        </div>

        <vertical-center
          *ngIf="selectedBulkCreateIncidentConfig && !savedIncidentConfigurations[selectedBulkCreateIncidentConfig].requiresJson; else jsonRequired">
            No JSON is required for the selected incident config
        </vertical-center>
        

        <ng-template #jsonRequired>

          <div
            *ngIf="selectedBulkCreateIncidentConfig && jsonFileAndGroupConfigurationsItems"
            class="bulkCreateContainerColumn">

              <div class="formLabel">Select JSON configs or groups</div>

              <p-listbox
                [options]="jsonFileAndGroupConfigurationsItems"
                [(ngModel)]="bulkCreateSelections[selectedBulkCreateIncidentConfig].jsonSelections"
                [style]="{'width':'100%'}"
                [multiple]="true"
                [checkbox]="true"
                [filter]="true"
                [disabled]="!selectedBulkCreateIncidentConfig"
                (onChange)="buildBulkConfigurationsToPushItems()">
              </p-listbox>

          </div>

        </ng-template>

      </div>

      <div *ngIf="bulkConfigurationsToPush" style="margin-top: 2em;">
        
        <span
          style="color: black;"
          class="dialogLabel">
            Incidents that will be pushed:
        </span>

        <div
          class="bulkIncidentsToPush"
          style="margin-top: 1em;">

          <div *ngFor="let item of bulkConfigurationsToPush">
            
            <span class="dialogLabel">
              {{savedIncidentConfigurations[item.incidentConfigId].name}}
            </span> :

            <div *ngIf="item.jsonFileNames" style="margin-left: 3em;">
              
              <span
                class="dialogLabel">
                  JSON Configs: 
              </span>
              
              <!-- !!! Needs to be transformed to names !!! -->
              <span>{{item.jsonFileNames}}</span>
            
            </div>

            <div *ngIf="item.jsonGroupIds" style="margin-left: 3em;">
              
              <span
                class="dialogLabel">
                  JSON Groups: 
              </span>
              
              <!-- !!! Needs to be transformed to names !!! -->
              <span>{{item.jsonGroupNames}}</span>
            
            </div>

            <div style="margin-left: 3em;">
              
              <span
                class="dialogLabel">
                  Endpoints: 
              </span>
              
              <span>{{item.endpoints}}</span>
            
            </div>

          </div>

        </div>
      </div>

      <div style="margin-top: .5em; float: right;">

        <p-button
          label="Create Incidents"
          (onClick)="onBulkCreateIncidentsAccepted()"
          [disabled]="!bulkConfigurationsToPush || (bulkConfigurationsToPush && bulkConfigurationsToPush.length === 0)">
        </p-button>

        <p-button
          label="Cancel"
          (onClick)="onBulkCreateCanceled()">
        </p-button>

      </div>

  </p-dialog>



  <!-- Bulk Create Incidents Results Dialog -->
  <p-dialog
    header="Bulk Create Incident Results"
    [(visible)]="showBulkResultsDialog"
    [modal]="true"
    [showHeader]="false"
    [style]="{width: '95%'}">

      <div class="bulkCreateResults">
        
        <!-- Header -->
        <div class="bulkCreateResultsGridHeader">Config Name</div>
        <div class="bulkCreateResultsGridHeader">XSOAR Server</div>
        <div class="bulkCreateResultsGridHeader">JSON File</div>
        <div class="bulkCreateResultsGridHeader">Result</div>
        <div class="bulkCreateResultsGridHeader">Incident ID</div>
        <div class="bulkCreateResultsGridHeader">Incident JSON</div>
        <div class="bulkCreateResultsGridHeader">Comments</div>
        
        <!-- Rows -->
        <ng-container *ngFor="let result of bulkCreateResults">

          <!-- Incident Configuration Name -->
          <div>{{savedIncidentConfigurations[result.configId].name}}</div>

          <!-- Server ID -->
          <div>{{result.serverId}}</div>

          <!-- JSON File -->
          <div>
            {{result.hasOwnProperty('jsonFile') && result.jsonFile !== undefined ? savedJsonConfigurationsObj[result.jsonFile].name : 'N/A'}}
          </div>

          <!-- Success / Failure -->
          <div>{{result.success ? 'Success' : 'Failure'}}</div>

          <!-- Incident ID and Link -->
          <div>
          
            <a
              *ngIf="result.hasOwnProperty('incidentId')"
              href="javascript:void(0)"
              (click)="onClickDemistoInvestigateUrl(result.incidentId, result.serverId)">
                {{result.incidentId}}
            </a>

          </div>

          <!-- Incident JSON Link -->
          <div>
            
            <span
              *ngIf="result.hasOwnProperty('incidentId')"
              (click)="onViewBulkIncidentJSONClicked(result.incidentId, result.serverId)"
              class="editJsonLink">
                View JSON
            </span>

          </div>

          <!-- Comments -->
          <div>

            <span
              *ngIf="result.hasOwnProperty('error')">
                {{result.error}}
            </span>

            <span
              *ngIf="result.hasOwnProperty('skippedFields') && result.skippedFields.length !== 0"
              class="pi pi-info-circle bulkCreateResultsInfoIcon"
              [pTooltip]="'Fields were skipped: ' + result.skippedFields.join(', ')">
            </span>

          </div>

        </ng-container>

      </div>

      <div style="margin-top: 1em; float: right;">

        <p-button label="OK" (onClick)="showBulkResultsDialog = false"></p-button>

      </div>

  </p-dialog>



  <!-- XSOAR Import Dialog -->
  <p-dialog
    header="Import Incident from XSOAR"
    [(visible)]="showLoadFromDemistoDialog"
    [modal]="true"
    [style]="{width: '50%'}"
    styleClass="loadFromDemistoDialog">

      <form #xsoarImportForm="ngForm">

        <div class="bulkCreateContainer">

          <div class="bulkCreateContainerColumn">

            <div class="formLabel" style="margin-bottom: .5em;">Incident number to import</div>

            <input pInputText
              name="demistoIncidentToLoad"
              type="url"
              id="url"
              required
              [(ngModel)]="demistoIncidentToLoad"
              name="url"
              class="inputDisplay">

          </div>

          <div class="bulkCreateContainerColumn">

            <div class="formLabel" style="margin-bottom: .5em;">Select an XSOAR server</div>

            <p-listbox
              name="demistoEndpointToLoadFrom"
              [options]="demistoEndpointsItems"
              [(ngModel)]="demistoEndpointToLoadFrom"
              [style]="{'width':'100%'}"
              [multiple]="false"
              [checkbox]="true"
              [filter]="false">
            </p-listbox>

          </div>

        </div>

        <div style="margin-top: .5em; float: right;">

          <p-button
            type="submit"
            label="Load Incident"
            (onClick)="onLoadFromDemistoAccepted()"
            [disabled]="importFromDemistoAcceptDisabled">
          </p-button>

          <p-button label="Cancel" (onClick)="onLoadFromDemistoCanceled()"></p-button>

        </div>
      </form>

  </p-dialog>



  <!-- JSON Groups Dialog -->
  <p-dialog
    header="JSON Groups"
    [(visible)]="showJsonGroupsDialog"
    [modal]="true"
    [style]="{minWidth: '50%', maxWidth: '75%', maxHeight: '75%'}">

      <!-- header bar -->
      <div>

        <!-- New -->
        <p-button
          label="New"
          (onClick)="onNewJsonGroupClicked()"
          styleClass="alignButton">
        </p-button>

        <!-- Delete -->
        <p-button
          *ngIf="demistoEndpointsLen !== 0"
          label="Delete"
          (onClick)="onDeleteJsonGroupClicked()"
          styleClass="alignButton"
          [disabled]="!jsonGroupDialog_jsonGroupSelection || jsonGroupDialog_jsonGroupSelection === ''">
        </p-button>

      </div>

      <div
        *ngIf="jsonGroupConfigurationsItems.length === 0"
        style="margin-top: 1em; font-weight: bold;">
          Create a new JSON Group
      </div>


      <div *ngIf="jsonGroupConfigurationsItems.length !== 0" class="bulkCreateContainer">

        <div class="bulkCreateContainerColumn">

          <div *ngIf="jsonGroupConfigurationsItems.length !== 0" class="formLabel">Select a JSON group to configure</div>

          <p-listbox
            [options]="jsonGroupConfigurationsItems"
            [(ngModel)]="jsonGroupDialog_jsonGroupSelection"
            [style]="{'width':'100%'}"
            [multiple]="false"
            [checkbox]="false"
            [filter]="false">
          </p-listbox>

        </div>

        <div class="bulkCreateContainerColumn">

          <div
            *ngIf="!jsonGroupDialog_jsonGroupSelection || jsonGroupDialog_jsonGroupSelection === ''"
            class="formLabel">
              Select a JSON Group
          </div>

          <div
            *ngIf="!['', undefined].includes(jsonGroupDialog_jsonGroupSelection)">

            <span class="formLabel">
              JSON Configurations
            </span>
            
            <div style="float: right;">

              <span
                (click)="onSelectAllJsonConfigurations()"
                class="selectAllControl">
                  Select All
              </span>
  
              | 
              
              <span
              (click)="onUnselectAllJsonConfigurations()"
                class="selectAllControl">
                None
              </span>

            </div>

          </div>

          <p-listbox
            *ngIf="jsonGroupDialog_jsonGroupSelection"
            [options]="savedJsonConfigurationItems"
            [(ngModel)]="jsonGroupDialog_jsonFileSelections[jsonGroupDialog_jsonGroupSelection]"
            [style]="{'width':'100%'}"
            [multiple]="true"
            [checkbox]="true"
            [filter]="false"
            [showToggleAll]="false">
          </p-listbox>

        </div>

      </div>

      <div style="margin-top: .5em; float: right;">

        <p-button
          label="Accept Changes"
          (onClick)="onAcceptJsonGroupChanges()">
        </p-button>

        <p-button
          label="Cancel"
          (onClick)="showJsonGroupsDialog = false">
        </p-button>

      </div>

  </p-dialog>



  <!-- New JSON Group As Dialog -->
  <p-dialog
    header="New JSON Group"
    [(visible)]="showNewJsonConfigDialog"
    [modal]="true"
    [style]="{width: '300px'}"
    styleClass="newJsonGroupConfigDialog">

      <div style="margin-bottom: .5em;" class="formLabel">JSON Group Name</div>

      <input
        pInputText
        #saveAsJsonInput
        type="text"
        [(ngModel)]="newJsonGroupConfigName"
        class="inputDisplay"/>

      <div style="margin-top: .5em;">{{newJsonGroupAcceptButtonDisabled ? 'This name is already in use' : '&nbsp;'}}</div>

      <div style="margin-top: .5em; float: right;">

        <p-button label="Save" (onClick)="onNewJsonGroupAccepted()" [disabled]="newJsonGroupAcceptButtonDisabled"></p-button>

        <p-button label="Cancel" (onClick)="showNewJsonConfigDialog = false"></p-button>

      </div>

  </p-dialog>



  <!-- File Attachments Dialog -->
  <p-dialog
    header="File Attachments"
    [(visible)]="showFileAttachmentsDialog"
    [modal]="true"
    [style]="{width: '50%'}"
    styleClass="bulkCreateDialog">

    <!-- header bar -->
    <div>

      <!-- Upload -->
      <p-button
        label="Upload"
        (onClick)="onNewFileAttachmentClicked()"
        styleClass="alignButton">
      </p-button>

      <!-- Download -->
      <p-button
        label="Download"
        (onClick)="onDownloadFileAttachmentClicked(selectedFileAttachment)"
        [disabled]="!selectedFileAttachment"
        styleClass="alignButton">
      </p-button>

      <!-- Edit -->
      <p-button
        *ngIf="fileAttachmentConfigsList && fileAttachmentConfigsList.length !== 0"
        label="Edit"
        (onClick)="onEditFileAttachmentClicked(selectedFileAttachment)"
        styleClass="alignButton"
        [disabled]="!selectedFileAttachment">
      </p-button>

      <!-- Delete -->
      <p-button
        *ngIf="fileAttachmentConfigsList && fileAttachmentConfigsList.length !== 0"
        label="Delete"
        (onClick)="onDeleteFileAttachmentClicked(selectedFileAttachment)"
        styleClass="alignButton"
        [disabled]="!selectedFileAttachment">
      </p-button>

      <!-- Refresh -->
      <p-button
        label="Refresh"
        (onClick)="onFileAttachmentConfigsChanged()"
        styleClass="alignButton">
      </p-button>

    </div>

    <div style="margin-top: 1em;">

      <span
        *ngIf="fileAttachmentConfigItems && fileAttachmentConfigItems.length === 0; else fileAttachmentConfigsSection"
        style="font-weight: bold;">
          No file attachments have been uploaded
      </span>

    </div>

    <ng-template #fileAttachmentConfigsSection>

      <div class="formLabel">Select an attachment</div>

      <p-listbox
        [options]="fileAttachmentConfigItems"
        [(ngModel)]="selectedFileAttachment"
        [style]="{'width':'100%'}"
        [filter]="true">
      </p-listbox>

    </ng-template>

      <div style="margin-top: .5em; float: right;">

        <p-button
          label="Close"
          (onClick)="showFileAttachmentsDialog = false">
        </p-button>

    </div>

  </p-dialog>


  <!-- New File Attachment Dialog -->
  <p-dialog
    header="New File Attachment"
    [(visible)]="showNewFileAttachmentDialog"
    [modal]="true"
    [style]="{width: '50%'}"
    styleClass="newDemistoEndpointDialog">

    <div
      class="newAttachmentFileUploadGrid"
      style="margin-top: 1.5em;">
      
      <div class="dialogLabel">
        Upload File:
      </div>

      <div style="font-weight: bold; font-size: 1.1em;">
        
        <p-fileUpload
          #attachmentUploader
          mode="basic"
          name="attachment"
          [multiple]="false"
          [showUploadButton]="false"
          [showCancelButton]="false"
          (onSelect)="onNewAttachmentFileSelected($event)"
          (onRemove)="uploadFileAttachmentAdded = false"
          (uploadHandler)="onUploadFileAttachment($event)"
          [customUpload]="true">
        </p-fileUpload>

      </div>

      <!-- File Name -->
      <ng-container *ngIf="newFileAttachmentName">

        <div class="dialogLabel">
          File Name:
        </div>
  
        <div style="font-weight: bold; font-size: 1.1em;">
          
          <input
            pInputText
            [(ngModel)]="newFileAttachmentName"
            class="inputDisplay"
            type="text"/>
  
        </div>

      </ng-container>

      <!-- File Size -->
      <ng-container *ngIf="newFileAttachmentSize">

        <div class="dialogLabel">
          File Size:
        </div>
  
        <div style="font-weight: bold; font-size: 1.1em;">
          
          {{newFileAttachmentSize}} bytes
  
        </div>

      </ng-container>

      <!-- File Type -->
      <ng-container *ngIf="newFileAttachmentType">

        <div class="dialogLabel">
          File Type:
        </div>
  
        <div style="font-weight: bold; font-size: 1.1em;">
          
          {{newFileAttachmentType}}
  
        </div>

      </ng-container>

      <!-- Show as Media File -->
      <ng-container *ngIf="newFileAttachmentType && newFileAttachmentType.startsWith('image')">

        <div class="dialogLabel">
          Display Options
        </div>
  
        <div style="font-weight: bold; font-size: 1.1em;">
          
          <p-selectButton
            [options]="fileAttachmentDisplayAsMediaItems"
            [(ngModel)]="newFileAttachmentDisplayAsMediaSelection">
          </p-selectButton>
  
        </div>

      </ng-container>

      <!-- File Comment -->
      <ng-container *ngIf="newFileAttachmentComment !== undefined">

        <div class="dialogLabel">
          Comments:
        </div>
  
        <div style="font-weight: bold; font-size: 1.1em;">
          
          <textarea
            pInputTextarea
            [(ngModel)]="newFileAttachmentComment"
            class="inputDisplay">
          </textarea>
  
        </div>

      </ng-container>

    </div>

    <div style="margin-top: .5em; float: right;">

      <p-button
        type="submit"
        label="Upload Attachment"
        (onClick)="onSubmitFileAttachmentUpload()"
        [disabled]="!uploadFileAttachmentAdded">
      </p-button>

      <p-button
        label="Cancel"
        (onClick)="onNewFileAttachmentCancelled()">
      </p-button>

    </div>

  </p-dialog>



  <!-- Edit File Attachment Dialog -->
  <p-dialog
    header="Edit File Attachment"
    [(visible)]="showEditFileAttachmentDialog"
    [modal]="true"
    [style]="{width: '50%'}"
    styleClass="newDemistoEndpointDialog">

    <div
      class="newAttachmentFileUploadGrid"
      style="margin-top: 1.5em;">
      
      <!-- File Name -->
      <ng-container *ngIf="editFileAttachmentName">

        <div class="dialogLabel">
          File Name:
        </div>
  
        <div style="font-weight: bold; font-size: 1.1em;">
          
          <input
            pInputText
            [(ngModel)]="editFileAttachmentName"
            class="inputDisplay"
            type="text"/>
  
        </div>

      </ng-container>

      <!-- File Size -->
      <ng-container *ngIf="editFileAttachmentSize">

        <div class="dialogLabel">
          File Size:
        </div>
  
        <div style="font-weight: bold; font-size: 1.1em;">
          
          {{editFileAttachmentSize}} bytes
  
        </div>

      </ng-container>

      <!-- File Type -->
      <ng-container *ngIf="editFileAttachmentType">

        <div class="dialogLabel">
          File Type:
        </div>
  
        <div style="font-weight: bold; font-size: 1.1em;">
          
          {{editFileAttachmentType}}
  
        </div>

      </ng-container>

      <!-- Show as Media File -->
      <ng-container *ngIf="editFileAttachmentType && editFileAttachmentType.startsWith('image')">

        <div class="dialogLabel">
          Display Options
        </div>
  
        <div style="font-weight: bold; font-size: 1.1em;">
          
          <p-selectButton
            [options]="fileAttachmentDisplayAsMediaItems"
            [(ngModel)]="editFileAttachmentDisplayAsMediaSelection">
          </p-selectButton>
  
        </div>

      </ng-container>

      <!-- File Comment -->
      <ng-container *ngIf="editFileAttachmentComment !== undefined">

        <div class="dialogLabel">
          Comments:
        </div>
  
        <div style="font-weight: bold; font-size: 1.1em;">
          
          <textarea
            pInputTextarea
            [(ngModel)]="editFileAttachmentComment"
            class="inputDisplay">
          </textarea>
  
        </div>

      </ng-container>

    </div>

    <div style="margin-top: .5em; float: right;">

      <p-button
        type="submit"
        label="Ok"
        (onClick)="onEditFileAttachmentSubmit(selectedFileAttachment)">
      </p-button>

      <p-button
        label="Cancel"
        (onClick)="onEditFileAttachmentCancelled()">
      </p-button>

    </div>

  </p-dialog>



  <!-- Import Mapping Dialog -->
  <p-dialog
    header="Import Incident Mapping"
    [(visible)]="showImportIncidentMappingDialog"
    [modal]="true"
    [style]="{width: '50%'}"
    styleClass="loadFromDemistoDialog">

      <div style="margin-top: 1em;">

        <!-- Upload Button -->
        <p-fileUpload
          #incidentMappingUpload
          name="myfile[]"
          mode="basic"
          chooseLabel="Select Mapping File"
          [customUpload]="true"
          (uploadHandler)="onIncidentMappingUploaded($event, incidentMappingUpload)"
          accept=".json"
          [multiple]="false"
          [auto]="true"
          pTooltip="Import an exported incident mapping file"
          showDelay="750">
        </p-fileUpload>

      </div>

      <div
        *ngIf="mappingToImport"
        style="margin-top: .5em; font-weight: bold;">

          Name: {{mappingToImport.name}}

      </div>

      <div
        *ngIf="duplicateIncidentMappingFromImport"
        style="margin-top: 1em;">
        
          <p-checkbox
            [(ngModel)]="overrideDuplicateIncidentMappingFromImport"
            (onChange)="onOverrideDuplicateIncidentMappingFromImportChanged(overrideDuplicateIncidentMappingFromImport)"
            [binary]="true"
            label="The uploaded config already exists.  Overwrite?">
          </p-checkbox>
      
      
      </div>

      <div
        *ngIf="!validIncidentMappingFile"
        style="margin-top: 1em; color: red;">
        
          The uploaded file is not a valid incident mapping configuration.
      
      </div>

      <div style="margin-top: .5em; float: right;">

        <p-button
          label="Load"
          (onClick)="onImportMappingAccepted()"
          [disabled]="!incidentMappingSubmitButtonEnabled">
        </p-button>

        <p-button
          label="Cancel"
          (onClick)="onImportMappingCancelled()">
        </p-button>

      </div>

  </p-dialog>



  <!-- Confirmation Dialog -->
  <p-confirmDialog
    [style]="{width: '50vw'}"
    [closeOnEscape]="true"
    [closable]="true">
  </p-confirmDialog>



  <!-- Container for UI Messages -->
  <div class="messagesContainer">

    <p-messages
      [(value)]="messages">
    </p-messages>

  </div>

</ng-container>




<ng-container *ngIf="!loggedInUser">

  <div>
    Logged in user not yet obtained from API
  </div>

</ng-container>


<div
  *ngIf="showFieldMappingSelectionBox"
  class="fieldMappingSelection">
  JSON field selection mode is active.<br><br>
  To cancel, click outside of the JSON area.
</div>