<ng-container *ngIf="loggedInUser && demistoIncidentFields">

  <div class="formContainer">
    <img src="/assets/demisto-logo-1.png" style="margin-top: 1em;">
    
    <div style="margin-top: 1em; margin-right: 1em; float: right;">Logged in as: <span style="font-weight: bold;"> {{loggedInUser.username}}</span></div>

    <h1 class="bodyHeader">
      Demisto Incident Importer
    </h1>


    <h3 style="margin-top: 0;">This app creates Demisto incidents from exported Demisto incident JSON.  The fields to be imported are selectable.  These can be saved in configurations for easy retrieval.</h3>

    <h1 class="bodyHeader" style="color: red;">CONSIDER THIS APP TO BE INSECURE!!!</h1>

    <p-card header="Demisto Parameters" subheader="Use this section to initialise the server's connection to the Demisto API.  The configuration will be saved by the server.">

        <div class="demistoForm">
          
          <!-- Demisto Base URL -->
          <div>
            <span class="ui-float-label">
              <input pInputText type="url" id="url" required [(ngModel)]="demistoProperties.url" name="url" size="50">
              <label for="url">Demisto Base URL</label>
            </span>
          </div>
          
          <!-- Demisto API Key -->
          <div>
            <span class="ui-float-label">
              <input pInputText type="password" id="apiKey" required [(ngModel)]="demistoProperties.apiKey" name="apiKey" size="50" autocomplete="off" standalone>
              <label for="apiKey">API Key</label>
            </span>
          </div>
          
          <!-- Trust Any Certificate -->
          <div>
            <span class="formLabel">Trust Any Certificate&nbsp;&nbsp;</span>
            <p-inputSwitch name="trustAny" [(ngModel)]="demistoProperties.trustAny" [style]="{'vertical-align' : 'middle' }"></p-inputSwitch>
          </div>
    
        </div>

        <!-- Test Button -->
        <div style="margin-top: .5em;">
          <span><button pButton type="button" (click)="testAPI()" label="Test"></button>&nbsp;&nbsp;</span>
          <p-message *ngIf="serverApiInit" severity="success" text="API Initialised"></p-message>
          <p-message *ngIf="!serverApiInit" severity="error" text="API Not Initialised"></p-message>
        </div>

    </p-card>


    <!-- Upload Incident -->
    <p-card header="Upload Incident JSON" subheader="Upload an incident JSON file in this section.  Create such a file through use of the command '!ExportIncident make_importable=false create_investigation=false'">
  
      <div style="margin-top: 1em;">
        
        <!-- File Upload -->
        <p-fileUpload #fileUpload name="myfile[]" mode="basic" chooseLabel="Select file" [customUpload]="true" (uploadHandler)="onFileUpload($event, fileUpload)" accept=".json,.txt" [multiple]="false" [auto]="true"></p-fileUpload>

        <span *ngIf="file">&nbsp;&nbsp;{{file.name}} ({{file.size}} bytes)</span>

      </div>

    </p-card>


    <!-- Create Investigation -->
    <p-card *ngIf="fileData" header="Create Investigation" subheader="If enabled, this option will cause an investigation to be created along with this incident.  This essentially means that any playbook associated with the case type will be automatically executed.">
  
      <div style="margin-top: 1em;">
        <p-selectButton name="createInvestigation" [options]="createInvestigationButtonOptions" [(ngModel)]="createInvestigation"></p-selectButton>
      </div>

    </p-card>





    <div *ngIf="fileData" class="fieldsForm">

      <!-- Incident Fields -->
      <div style="min-width: 0;">
        <p-card header="Incident Fields" subheader="Select the main incident fields to include in the new incident">

          <!-- Select / Toggle Buttons -->
          <div>
            <p-button type="button" label="Select All" (onClick)="onSelectAllFields()"></p-button>
            <p-button type="button" label="Clear All" (onClick)="onClearAllFields()"></p-button>
            <p-button type="button" label="Reset Values" (onClick)="onResetAllFieldValues()"></p-button>
          </div >
        
          <!-- Incident Fields -->
          <div class="fieldContainer">

            <div></div>

            <header>Name</header>
            
            <header>Type</header>
            
            <header>Value</header>

            <ng-container *ngFor="let field of incidentFields | keyvalue">
              
              <field-display *ngIf="![undefined, null].includes(field.value.value)" [(field)]="incidentFields[field.key]" [displayShortNames]="displayIncidentFieldShortNames"></field-display>

            </ng-container>
          </div>

        </p-card>
      </div>

      <!-- Custom Fields -->
      <div style="min-width: 0;">
        <p-card header="Custom Fields" subheader="Select the custom fields to include in the new incident">

          <!-- Select / Toggle Buttons -->
          <div>
            <p-button type="button" label="Select All" (onClick)="onSelectAllCustomFields()"></p-button>
            <p-button type="button" label="Clear All" (onClick)="onClearAllCustomFields()"></p-button>
            <p-button type="button" label="Reset Values" (onClick)="onResetAllCustomFieldValues()"></p-button>
            <p-toggleButton [onLabel]="shortNamesLabel" [offLabel]="longNamesLabel" [(ngModel)]="displayCustomFieldShortNames" name="shortCustomNames"></p-toggleButton>
            <p-button type="button" label="Reload Definitions" name="createIncident" (onClick)="onReloadFieldDefinitions()"></p-button>
          </div >
          
          <!-- Custom Fields -->
          <div class="fieldContainer">

            <div></div>
            
            <header>Name</header>
            
            <header>Type</header>
            
            <header>Value</header>

            <ng-container *ngFor="let field of customFields | keyvalue">
              
              <field-display *ngIf="![undefined, null].includes(field.value.value)" [(field)]="customFields[field.key]" [displayShortNames]="displayCustomFieldShortNames"></field-display>

            </ng-container>
          </div>

        </p-card>
      </div>

    </div>

      

      <!-- Submit Button -->
      <div style="margin-top: 1em;">
        &nbsp;&nbsp;<button pButton type="button" label="Create Incident" [disabled]="!serverApiInit" (click)="onIncidentSubmit()" [disabled]="countEnabledFields() === 0"></button>
        <button pButton type="button" (click)="resetForm()" label="Reset Selection"></button>
      </div>

    <div>&nbsp;</div>

  </div>

  <div class="messagesContainer">
    <p-messages [(value)]="messages"></p-messages>
  </div>

</ng-container>

<ng-container *ngIf="!loggedInUser">
  <div>
    Could not obtain logged in user from API
  </div>
</ng-container>
