<ng-container *ngIf="loggedInUser">

  <div class="formContainer">
    <img src="/assets/demisto-logo-1.png" style="margin-top: 1em;">

    <div style="margin-top: 1em; margin-right: 1em; float: right;">Logged in as: <span style="font-weight: bold;"> {{loggedInUser.username}}</span></div>

    <h1 class="bodyHeader">
      Incident Importer
    </h1>



    <div style="margin-top: 0; margin-bottom: 1em;">This app creates Cortex XSOAR incidents from incident field JSON.  The fields to be imported are selectable and editable.  These can be saved in configurations for easy retrieval.</div>



    <!-- Demisto Servers-->
    <p-card header="Demisto Servers">

      <h3 style="margin-top: .5em; text-decoration: underline; color: white;">{{currentDemistoApiName ? currentDemistoApiName : 'No Demisto servers are defined'}}</h3>


      <div style="margin-top: 1em;">

        <p-button label="Select" (onClick)="onOpenDemistoServersClicked()" styleClass="alignButton"></p-button>

        <p-message *ngIf="currentServerApiInit" severity="success" text="API Initialised"></p-message>
        <p-message *ngIf="!currentServerApiInit" severity="error" text="API Not Initialised"></p-message>



      </div>

    </p-card>


    <!-- Upload Incident -->
    <p-card header="Incident Data" subheader="Load an incident from Demisto, upload an incident JSON file, or perform other file and bulk create operations.  To create an incident JSON file, use the Demisto command '!ExportIncident make_importable=false create_investigation=false', and download the result.">

      <div style="margin-top: 1em;">

        
        <!-- <span class="formLabel"> - OR -&nbsp;&nbsp;&nbsp;</span> -->
        
        <!-- Open -->
        <p-button label="Open" (onClick)="onOpenClicked()" styleClass="alignButton" [disabled]="fieldsConfigurationsLen === 0" pTooltip="Open a saved incident configuration" showDelay="750"></p-button>
        
        <!-- Load From XSOAR -->
        <p-button label="XSOAR Import" (onClick)="onLoadFromDemistoClicked()" [disabled]="currentServerApiInit === false" pTooltip="Import an incident directly from XSOAR" showDelay="750"></p-button>
        
        <!-- Upload JSON -->
        <p-fileUpload #fileUpload name="myfile[]" mode="basic" chooseLabel="Upload JSON" [customUpload]="true" (uploadHandler)="onFileUpload($event, fileUpload)" accept=".json,.txt" [multiple]="false" [auto]="true" pTooltip="Import an incident from a JSON file" showDelay="750"></p-fileUpload>

        <!-- Save -->
        <p-button label="Save" (onClick)="onSaveClicked()" [disabled]="!(loadedConfigId && loadedConfigName)"></p-button>

        <!-- Save As -->
        <p-button label="Save As" (onClick)="onSaveAsClicked()" [disabled]="!fileData"></p-button>

        <!-- Delete -->
        <p-button label="Delete" (onClick)="onDeleteClicked()" [disabled]="fieldsConfigurationsLen === 0"></p-button>

        <!-- Bulk Create -->
        <p-button label="Bulk Create" (onClick)="onBulkCreateClicked()" [disabled]="fieldsConfigurationsLen === 0 || demistoApiConfigsLen === 0" pTooltip="Create incidents of one or more types, and on one or more XSOAR servers" showDelay="750"></p-button>

        <!-- Bulk Create Results -->
        <p-button *ngIf="this.bulkCreateResults.length !== 0"  label="Bulk Create Results" (onClick)="showBulkResultsDialog = true"></p-button>


      </div>

    </p-card>



    <!-- Loaded Configuration Name -->
    <p-card *ngIf="loadedConfigName && loadedConfigId" header="Loaded Configuration Name">
      <div style="margin-top: 1em;">
        <span class="formLabel" style="font-size: 18px;">{{loadedConfigName}}</span>
      </div>
    </p-card>



    <!-- Create Investigation -->
    <p-card *ngIf="fileData" header="Create Investigation" subheader="If enabled, this option will cause an investigation to be created along with this incident.  This means that any playbook associated with the case type will be automatically executed, if the underlying incident type is configured to do so.">

      <div style="margin-top: 1em;">
        <p-selectButton name="createInvestigation" [options]="createInvestigationButtonOptions" [(ngModel)]="createInvestigation"></p-selectButton>
      </div>

    </p-card>






    <div *ngIf="fileData" class="fieldsForm">

      <!-- Incident Fields -->
      <div style="min-width: 0;">
        <p-card header="Incident Fields" subheader="Select the main incident fields to include in the new incident">

          <!-- Select / Toggle Buttons -->
          <div>
            <p-button type="button" label="Select All" (onClick)="onSelectAllFields()" [disabled]="!currentServerApiInit"></p-button>

            <p-button type="button" label="Clear All" (onClick)="onClearAllFields()" [disabled]="!currentServerApiInit"></p-button>

            <p-button type="button" label="Reset Values" (onClick)="onResetAllFieldValues()" [disabled]="!currentServerApiInit"></p-button>

          </div >

          <!-- Incident Fields -->
          <div class="fieldContainer">

            <div></div>

            <header>Name</header>

            <header>Type</header>

            <header>Value</header>

            <ng-container *ngFor="let field of incidentFields | keyvalue">

              <field-display *ngIf="![undefined, null].includes(field.value.value)" [(field)]="incidentFields[field.key]" [displayShortNames]="displayIncidentFieldShortNames"></field-display>

            </ng-container>
          </div>

        </p-card>
      </div>

      <!-- Custom Fields -->
      <div style="min-width: 0;">
        <p-card header="Custom Fields" subheader="Select the custom fields to include in the new incident">

          <!-- Select / Toggle Buttons -->
          <div>
            <p-button type="button" label="Select All" (onClick)="onSelectAllCustomFields()" [disabled]="!currentServerApiInit"></p-button>

            <p-button type="button" label="Clear All" (onClick)="onClearAllCustomFields()" [disabled]="!currentServerApiInit"></p-button>

            <p-button type="button" label="Reset Values" (onClick)="onResetAllCustomFieldValues()" [disabled]="!currentServerApiInit"></p-button>

            <p-toggleButton [onLabel]="shortNamesLabel" [offLabel]="longNamesLabel" [(ngModel)]="displayCustomFieldShortNames" name="shortCustomNames" [disabled]="!currentServerApiInit"></p-toggleButton>

            <p-button type="button" label="Reload Definitions" name="createIncident" (onClick)="onReloadFieldDefinitions()" [disabled]="!currentServerApiInit"></p-button>

          </div >

          <!-- Custom Fields -->
          <div class="fieldContainer">

            <div></div>

            <header>Name</header>

            <header>Type</header>

            <header>Value</header>

            <ng-container *ngFor="let field of customFields | keyvalue">

              <field-display *ngIf="![undefined, null].includes(field.value.value)" [(field)]="customFields[field.key]" [displayShortNames]="displayCustomFieldShortNames"></field-display>

            </ng-container>
          </div>

        </p-card>
      </div>

    </div>



      <!-- Submit Button -->
      <div style="margin-top: 1em;">
        &nbsp;&nbsp;<button pButton type="button" label="Create Incident" (click)="onCreateIncident()" [disabled]="!fileData || countEnabledFields() === 0"></button>
      </div>

    <div>&nbsp;</div>

  </div>

  <div class="messagesContainer">
    <p-messages [(value)]="messages"></p-messages>
  </div>



  <!-- Fields Config Save As Dialog -->
  <p-dialog header="Save Configuration As" [(visible)]="showSaveAsDialog" [modal]="true" [style]="{width: '300px'}" styleClass="saveAsDialog">

    <div style="margin-bottom: .5em;" class="formLabel">Configuration Name</div>

    <input pInputText #saveAsInput type="text" [(ngModel)]="saveAsConfigName" class="inputDisplay"/>

    <div style="margin-top: .5em;">{{saveAsDisabled ? 'This name is already taken' : '&nbsp;'}}</div>

    <div style="margin-top: .5em; float: right;">

      <p-button label="Save" (onClick)="onSaveAsAccepted()" [disabled]="saveAsDisabled"></p-button>

      <p-button label="Cancel" (onClick)="onSaveAsCanceled()"></p-button>

    </div>

  </p-dialog>



  <!-- Delete Fields Config Dialog -->
  <p-dialog header="Delete Configuration" [(visible)]="showDeleteDialog" [modal]="true" [style]="{width: '300px'}" [contentStyle]="{'overflow':'visible'}" styleClass="deleteConfigDialog">

    <div class="formLabel">Configurations to delete</div>

    <p-listbox [options]="fieldsConfigOptions" [(ngModel)]="selectedDeleteConfigs" [multiple]="true" [filter]="true" [checkbox]="true" [style]="{'width':'100%'}"></p-listbox>

    <div style="margin-top: .5em;">

      <p-button label="Delete" (onClick)="onDeleteAccepted()"></p-button>

      <p-button label="Cancel" (onClick)="onDeleteCanceled()"></p-button>

    </div>

  </p-dialog>



  <!-- Open Fields Config Dialog -->
  <p-dialog header="Open Configuration" [(visible)]="showOpenDialog" [modal]="true" [style]="{width: '300px'}" [contentStyle]="{'overflow':'visible'}" styleClass="openDialog">

    <div class="formLabel">Configuration to open</div>

    <p-listbox [options]="fieldsConfigOptions" [(ngModel)]="selectedOpenConfig" [style]="{'width':'100%'}" (onDblClick)="onConfigOpened()" [filter]="true"></p-listbox>

    <div style="margin-top: .5em;">

      <p-button label="Open" (onClick)="onConfigOpened()"></p-button>

      <p-button label="Cancel" (onClick)="onOpenCanceled()"></p-button>

    </div>

  </p-dialog>



  <!-- Bulk Create Incident Dialog -->
  <p-dialog header="Bulk Incident Creation" [(visible)]="showBulkCreateDialog" [modal]="true" [style]="{width: '75%', maxHeight: '75%'}" styleClass="bulkCreateDialog">


    <div class="bulkCreateContainer">

      <div class="bulkCreateContainerColumn">

        <div class="formLabel">Select configurations to push to Demisto</div>

        <p-listbox [options]="fieldsConfigOptions" [(ngModel)]="selectedBulkCreateConfigs" [style]="{'width':'100%'}" [multiple]="true" [checkbox]="true" [filter]="true"></p-listbox>

      </div>

      <div class="bulkCreateContainerColumn">

        <div class="formLabel">Select Demisto servers to push to</div>

        <p-listbox [options]="demistoApiConfigsOptions" [(ngModel)]="selectedBulkCreateApiServers" [style]="{'width':'100%'}" [multiple]="true" [checkbox]="true" [filter]="true"></p-listbox>

      </div>

    </div>

    <div style="margin-top: .5em; float: right;">

      <p-button label="Create Incidents" (onClick)="onCreateBulkIncidents()" [disabled]="selectedBulkCreateConfigs.length === 0 || selectedBulkCreateApiServers.length === 0"></p-button>

      <p-button label="Cancel" (onClick)="onBulkCreateCanceled()"></p-button>

    </div>

  </p-dialog>



  <!-- Bulk Create Results Dialog -->
  <p-dialog header="Bulk Create Incident Results" [(visible)]="showBulkResultsDialog" [modal]="true" [style]="{width: '75%'}">

    <div class="bulkCreateResults">
      <div class="bulkCreateResultsGridHeader">Config Name</div>
      <div class="bulkCreateResultsGridHeader">Demisto Server</div>
      <div class="bulkCreateResultsGridHeader">Result</div>
      <div class="bulkCreateResultsGridHeader">Incident ID</div>
      <div class="bulkCreateResultsGridHeader">Comments</div>
      <ng-container *ngFor="let result of bulkCreateResults">

        <div>{{result.configName}}</div>

        <div>{{result.serverId}}</div>

        <div>{{result.success ? 'Success' : 'Failure'}}</div>

        <div *ngIf="result.hasOwnProperty('incidentId')"><a href="javascript:void(0)" (click)="onClickDemistoInvestigateUrl(result.incidentId, result.serverId)">{{result.incidentId}}</a></div>

        <div *ngIf="!result.hasOwnProperty('incidentId')"></div>

        <div>
          <span *ngIf="result.hasOwnProperty('skippedFields') && result.skippedFields.length !== 0" class="pi pi-info-circle bulkCreateResultsInfoIcon" [pTooltip]="'Fields were skipped: ' + result.skippedFields.join(', ')">
          </span>
        </div>
      </ng-container>
    </div>

    <div style="margin-top: 1em; float: right;">
      <p-button label="OK" (onClick)="showBulkResultsDialog = false"></p-button>
    </div>

  </p-dialog>



    <!-- Select Demisto API Server Dialog -->
    <p-dialog header="Demisto API Servers" [(visible)]="showDemistoApiServerOpenDialog" [modal]="true" [style]="{width: '50%'}" styleClass="bulkCreateDialog">

      <!-- header bar -->
      <div>

        <!-- New -->
        <p-button label="New" (onClick)="onNewDemistoApiServer()" styleClass="alignButton"></p-button>

        <!-- Edit -->
        <p-button *ngIf="demistoApiConfigsLen !== 0" label="Edit" (onClick)="onEditDemistoApiServer()" styleClass="alignButton" [disabled]="!selectedDemistoApiName"></p-button>

        <!-- Delete -->
        <p-button *ngIf="demistoApiConfigsLen !== 0" label="Delete" (onClick)="onDeleteDemistoApiServer()" styleClass="alignButton" [disabled]="!selectedDemistoApiName"></p-button>

        <!-- Test -->
        <p-button *ngIf="demistoApiConfigsLen !== 0" label="Test" (onClick)="onTestDemistoApiServer()" styleClass="alignButton" [disabled]="!selectedDemistoApiName"></p-button>

        <!-- Default -->
        <p-button *ngIf="demistoApiConfigsLen !== 0" label="Set Default" (onClick)="onSetDefaultDemistoApiServer()" styleClass="alignButton" [disabled]="!selectedDemistoApiName"></p-button>

        <!-- Refresh -->
        <p-button label="Refresh" (onClick)="onRefreshDemistoApiServers()" styleClass="alignButton"></p-button>

        <p-message *ngIf="currentServerApiInit" severity="success" text="API Initialised"></p-message>
        <p-message *ngIf="!currentServerApiInit" severity="error" text="API Not Initialised"></p-message>

      </div>

      <div style="margin-top: 1em;">
        <span class="formLabel">Current Demisto Server: </span>
            <span class="formLabel" style="text-decoration: underline;">{{currentDemistoApiName ? currentDemistoApiName : 'No server is selected'}}</span>
      </div>

      <div style="margin-top: 1em;">

        <span *ngIf="demistoApiConfigsLen === 0; else demistoApiConfigs" style="font-weight: bold;">No Demisto servers are defined</span>

      </div>

      <ng-template #demistoApiConfigs>

        <div class="formLabel">Select a server</div>

        <p-listbox [options]="demistoApiConfigsOptions" [(ngModel)]="selectedDemistoApiName" [style]="{'width':'100%'}" (onDblClick)="onDemistoApiServerSelected()" [filter]="true"></p-listbox>

      </ng-template>

        <div style="margin-top: .5em; float: right;">

          <p-button *ngIf="demistoApiConfigsLen !== 0" label="Select" (onClick)="onDemistoApiServerSelected()" [disabled]="!selectedDemistoApiName"></p-button>

          <p-button label="Close" (onClick)="showDemistoApiServerOpenDialog = false"></p-button>

      </div>

    </p-dialog>



  <!-- Delete API Server Dialog -->
  <p-dialog header="Delete Demisto Server" [(visible)]="showDeleteDemistoApiServerDialog" [modal]="true" [style]="{width: '50%'}" styleClass="deleteConfigDialog" (onHide)="onDeleteDemistoApiServerHidden()">

    <div class="formLabel">Please confirm deletion of Demisto server "{{demistoApiServerToDelete}}"</div>

    <div style="margin-top: .5em; float: right;">

      <p-button label="Confirm" (onClick)="onDeleteDemistoApiServerConfirmed()"></p-button>

      <p-button label="Cancel" (onClick)="showDeleteDemistoApiServerDialog = false"></p-button>

    </div>

  </p-dialog>



  <!-- New / Edit Demisto API Server Dialog -->
  <p-dialog [header]="newDemistoServerDialogMode === 'new' ? 'New Demisto Server' : 'Edit Demisto Server'" [(visible)]="showNewDemistoApiServerDialog" [modal]="true" [style]="{width: '500px'}" styleClass="newDemistoApiServerDialog" (onHide)="onNewEditDemistoApiServerHidden()">

    <!--<div style="margin-bottom: .5em;" class="formLabel">Configuration Name</div>-->

    <div style="margin-top: 1.5em;">
      <span class="ui-float-label">
        <input pInputText type="url" id="url" required [(ngModel)]="newDemistoServerUrl" name="url" class="inputDisplay">
        <label for="url">Demisto Base URL</label>
      </span>
    </div>

    <div style="margin-top: 1.5em;">
      <span class="ui-float-label">
        <input pInputText type="password" id="apiKey" required [(ngModel)]="newDemistoServerApiKey" name="apiKey" size="50" autocomplete="off" class="inputDisplay" standalone>
        <label for="apiKey">API Key</label>
      </span>
    </div>

    <div style="margin-top: 1.5em;">
      <span class="formLabel">Trust Any Certificate&nbsp;&nbsp;</span>
      <p-inputSwitch name="trustAny" [(ngModel)]="newDemistoServerTrustAny" [style]="{'vertical-align' : 'middle' }"></p-inputSwitch>
    </div>

    <div style="margin-top: .5em;">{{newDemistoServerSaveDisabled ? 'This name is already taken' : '&nbsp;'}}</div>

    <div style="margin-top: .5em; float: right;">

      <!-- Test Button -->
      <p-button label="Test" (onClick)="testDemistoApi(newDemistoServerUrl, newDemistoServerApiKey, newDemistoServerTrustAny)" [disabled]="newEditTestButtonDisabled"></p-button>

      <!-- Save Button -->
      <p-button label="Save" *ngIf="newDemistoServerDialogMode === 'new'" (onClick)="onNewDemistoApiServerSaved()" [disabled]="!newDemistoServerUrl || !newDemistoServerApiKey || newDemistoServerSaveDisabled"></p-button>

      <!-- Update Button -->
      <p-button label="Update" *ngIf="newDemistoServerDialogMode === 'edit'" (onClick)="onDemistoApiServerUpdated(newDemistoServerUrl)" [disabled]="!newDemistoServerUrl || newDemistoServerSaveDisabled"></p-button>

      <p-button label="Cancel" (onClick)="onNewDemistoApiServerCanceled()"></p-button>

    </div>

  </p-dialog>



  <!-- Load From Demisto Dialog -->
  <p-dialog header="Load from Demisto" [(visible)]="showLoadFromDemistoDialog" [modal]="true" [style]="{width: '50%'}" styleClass="loadFromDemistoDialog">

    <div class="bulkCreateContainer">

      <div class="bulkCreateContainerColumn">

        <div class="formLabel" style="margin-bottom: .5em;">Incident number to load</div>

        <input pInputText type="url" id="url" required [(ngModel)]="demistoIncidentToLoad" name="url" class="inputDisplay">

      </div>

      <div class="bulkCreateContainerColumn">

        <div class="formLabel" style="margin-bottom: .5em;">Select a Demisto server</div>

        <p-listbox [options]="demistoApiConfigsOptions" [(ngModel)]="demistoApiToLoadFrom" [style]="{'width':'100%'}" [multiple]="false" [checkbox]="true" [filter]="false"></p-listbox>

      </div>

    </div>

    <div style="margin-top: .5em; float: right;">

      <p-button label="Load Incident" (onClick)="onLoadFromDemistoAccepted()" [disabled]="importFromDemistoAcceptDisabled"></p-button>

      <p-button label="Cancel" (onClick)="onLoadFromDemistoCanceled()"></p-button>

    </div>

  </p-dialog>



  <!-- Confirmation Dialog -->
  <p-confirmDialog [header]="confirmDialogHeader" [style]="{width: '50vw'}" [closeOnEscape]="false" [closable]="false"></p-confirmDialog>

</ng-container>

<ng-container *ngIf="!loggedInUser">
  <div>
    Logged in user not yet obtained from API
  </div>
</ng-container>
