<!-- Loaded Configuration Name Container -->
<p-card *ngIf="loadedIncidentConfigName" header="Loaded Mapping Name">
  
  <div style="margin-top: 1em;">
    <span class="formLabel" style="font-size: 18px;">{{loadedIncidentConfigName}}</span>
  </div>

</p-card>



<div class="fieldsForm">

  <!-- Incident Container -->
  <div style="min-width: 0;">

    <p-card header="Incident">

      <!-- Select Incident Type -->
      <div style="margin-top: 0; margin-bottom: 1em; display: flex; flex-direction: row;">

        <div class="verticalCenter">

          <div></div>
          <div>
            
            <span
              class="fieldLabel"
              pTooltip="Select an incident type.  This will control which fields are available to you, based on field definitions loaded from Cortex XSOAR.  Changing this will wipe out all selections.">
                Source Incident Type:
                <i
                  class="pi pi-info-circle"
                  style="line-height: 14px; vertical-align: middle; font-size: 2em;"
                  pTooltip="This controls which fields are available to be added.  If its value is changed, some fields may become locked if they are not associated with the newly-selected incident type">
                </i>
                &nbsp;&nbsp;
              </span>
            </div>
            <div></div>

        </div>

        <div style="flex-grow: 1;">

          <p-dropdown
            [options]="incidentTypeItems"
            [(ngModel)]="selectedIncidentType"
            (onChange)="onIncidentTypeChanged($event.value)"
            [filter]="true"
            placeholder="Select an incident type"
            [style]="{'width': '100%'}">
          </p-dropdown>

        </div>
      
      </div>

      <!-- Menu Bar -->
      <!-- *ngIf="selectedIncidentType" -->
      <div class="menuContainer">

        <!-- I don't think reset is required for freeform -->
        <!-- <p-button type="button" label="Reset Values" (onClick)="onResetAllFieldValues()" [disabled]="!currentDemistoEndpointInit"></p-button>--> 

        <!-- Add Field Button -->
        <span>

          <p-button type="button" label="Add Field" (onClick)="onAddIncidentFieldClicked()"></p-button>

          <!-- Short / Long Field Names -->
          <p-toggleButton
            name="shortFieldNames"
            [onLabel]="shortNamesLabel"
            [offLabel]="longNamesLabel"
            [(ngModel)]="displayIncidentFieldShortNames"
            [disabled]="!currentDemistoEndpointInit">
          </p-toggleButton>

          <!-- Create Investigation Toggle -->
          <p-toggleButton
            [onLabel]="'Create Investigation On'"
            offLabel="Create Investigation: Off"
            [(ngModel)]="createInvestigation"
            pTooltip="If enabled, this option will cause an investigation to be created along with a new incident.  This means that any playbook associated with the case type will be automatically executed, if the underlying incident type is configured to do so."
            showDelay="750">
          </p-toggleButton>

          <!-- Reload Field Definitions -->
          <p-button
            type="button"
            label="Reload Definitions"
            name="createIncident"
            (onClick)="onReloadFieldDefinitions()"
            [disabled]="!currentDemistoEndpointInit"
            pTooltip="Reload the field definitions from XSOAR">
          </p-button>

        </span>

        <!-- Create Incident Button -->
        <button pButton
          type="button"
          label="Create Incident"
          (click)="onCreateIncident()"
          [disabled]="!json || enabledFieldsCount === 0"
          class="ui-button-warning">
        </button>


      </div>

      <!-- Incident Fields -->
      <!-- *ngIf="selectedIncidentType" -->
      <div class="freeformFieldContainer">

        <div>
          <p-checkbox
            [(ngModel)]="incidentFieldsSelectAllState"
            [binary]="true"
            (onChange)="onToggleAllChosenIncidentFields()">
          </p-checkbox>
        </div>

        <header>Name</header>

        <header>Type</header>

        <header pToolTip="The method by which to map the field's value">Method</header>

        <header>Value</header>

        <div class="valueContainer">

          <header>Actions</header>

          <div class="pi pi-times" style="font-size: 2em;" pTooltip="Delete All" showDelay="750" (click)="onDeleteAllIncidentFielsdClicked()"></div>
          
        </div>

        <ng-container *ngFor="let field of chosenIncidentFields; trackBy: trackByIdentity">

          <freeform-json-row
            *ngIf="![undefined, null].includes(field.value)"
            #incidentFieldRow
            [field]="field"
            (fieldChange)="onFieldChange($event)"
            [displayShortNames]="displayIncidentFieldShortNames"
            (fieldDeleted)="onIncidentFieldRemoved($event)"
            [jsonLoaded]="json !== undefined"
            [json]="json">
          </freeform-json-row>

        </ng-container>
      </div>

    </p-card>
  </div>



  <!-- JSON Container -->
  <div style="min-width: 0;">

    <p-card header="Freeform JSON Data">

      <div *ngIf="!json && (!savedJsonConfigurations || savedJsonConfigurations.length === 0) else menuBar">

        <h2 style="color: white;">
          Please upload some JSON data.  It can be any data, as long as it is valid JSON.
        </h2>

        <ng-container *ngTemplateOutlet="jsonUploader"></ng-container>

      </div>

      <ng-template #jsonUploader>

        <p-fileUpload #fileUpload
          name="myfile[]"
          mode="basic"
          chooseLabel="Upload"
          [customUpload]="true"
          (uploadHandler)="onFreeformJsonUploaded($event, fileUpload)"
          accept=".json,.txt"
          [multiple]="false"
          [auto]="true"
          pTooltip="Import an incident from a JSON file"
          showDelay="750">
        </p-fileUpload>
        
      </ng-template>

      
      
      <ng-template #menuBar>

        <!-- Loaded JSON Name -->
        <header
          *ngIf="loadedJsonConfigName"
          style="margin: .25em 0 .25em 0;">
            Loaded: <span style="color: white">{{loadedJsonConfigName}}</span>
        </header>

        <!-- Menu Bar -->
        <div>

          <!-- Open -->
          <p-button
            label="Open"
            (onClick)="onJsonOpenClicked()"
            styleClass="alignButton"
            [disabled]="savedJsonConfigurations.length === 0"
            pTooltip="Open a saved JSON configuration"
            showDelay="750">
          </p-button>

          <!-- Add Field Button -->
          <ng-container *ngTemplateOutlet="jsonUploader"></ng-container>

          <p-button
            label="Save As"
            (onClick)="onJsonSaveAsClicked()">
          </p-button>

          <p-button
            label="Delete"
            (onClick)="onJsonDeleteConfigClicked()"
            [disabled]="savedJsonConfigurations.length === 0">
          </p-button>

          <p-button
            label="Create Incident"
            (onClick)="onCreateIncidentFromRawJsonClicked()"
            [disabled]="!json || !demistoEndpointsItems || (demistoEndpointsItems && demistoEndpointsItems.length === 0)">
          </p-button>

        </div>

        
        
        <div *ngIf="json" style="overflow-x: auto;">

          <ngx-json-viewer
            [json]="json"
            [selectionMode]="selectionMode"
            [selectionModeFieldType]="selectionModeFieldType">
          </ngx-json-viewer>

        </div>

      </ng-template>

    </p-card>

  </div>



</div>






<!-------------- FIELDS MODAL DIALOGS SECTION -------------->



<!-- Add Incident Field Dialog -->
<p-dialog *ngIf="incidentFieldsToAddItems" header="Choose Incident Fields to Add" [(visible)]="displayAddIncidentFieldDialog" [modal]="true" [draggable]="false" [style]="{width: '25em', 'max-height': '75vh'}" styleClass="openDialog">

  <!--<div class="formLabel">Incident Fields to Add</div>-->

  <p-listbox
    #incidentFieldListBox
    [options]="incidentFieldsToAddItems"
    [(ngModel)]="selectedFieldsToAdd"
    [style]="{ 'width': '100%'}"
    [listStyle]="{'height': '50vh'}"
    [multiple]="true"
    [checkbox]="true"
    [filter]="true"
    styleClass="addIncidentFieldListbox">
  </p-listbox>

  <div style="margin-top: .5em; float: right;">

    <p-button label="Add" (onClick)="onAddIncidentFieldsAccept()" [disabled]="!selectedFieldsToAdd || selectedFieldsToAddLen === 0"></p-button>

    <p-button label="Cancel" (onClick)="displayAddIncidentFieldDialog = false"></p-button>

  </div>

</p-dialog>



<!-- Open Freeform JSON Config Dialog -->
<p-dialog header="Select a JSON Configuration" [(visible)]="showJsonOpenDialog" [modal]="true" [style]="{width: '300px'}" [contentStyle]="{'overflow':'visible'}" styleClass="openJsonDialog">

  <div class="formLabel">Configuration to open</div>

  <p-listbox
    [options]="freeformJsonConfigurationItems"
    [(ngModel)]="selectedOpenConfig"
    [style]="{'width':'100%'}"
    (onDblClick)="onJsonConfigOpened()"
    [filter]="true">
  </p-listbox>

  <div style="margin-top: .5em;">

    <p-button
      label="Open"
      (onClick)="onJsonConfigOpened()">
    </p-button>

    <p-button
      label="Cancel"
      (onClick)="onJsonOpenCanceled()">
    </p-button>

  </div>

</p-dialog>



<!-- Freeform JSON Save As Dialog -->
<p-dialog header="Save JSON As" [(visible)]="showJsonSaveAsDialog" [modal]="true" [style]="{width: '300px'}" styleClass="jsonSaveAsDialog">

  <div style="margin-bottom: .5em;" class="formLabel">JSON Configuration Name</div>

  <input pInputText #saveAsJsonInput type="text" [(ngModel)]="saveAsConfigName" class="inputDisplay"/>

  <div style="margin-top: .5em;">{{saveAsOkayButtonDisabled ? 'This name is already in use' : '&nbsp;'}}</div>

  <div style="margin-top: .5em; float: right;">

    <p-button label="Save" (onClick)="onJsonSaveAsAccepted()" [disabled]="saveAsOkayButtonDisabled"></p-button>

    <p-button label="Cancel" (onClick)="onJsonSaveAsCanceled()"></p-button>

  </div>

</p-dialog>



<!-- Delete JSON Config Dialog -->
<p-dialog header="Delete JSON Configuration" [(visible)]="showDeleteDialog" [modal]="true" [style]="{width: '300px'}" [contentStyle]="{'overflow':'visible'}" styleClass="deleteConfigDialog">

  <div class="formLabel">JSON Configurations to delete</div>

  <p-listbox
    [options]="freeformJsonConfigurationItems"
    [(ngModel)]="selectedDeleteConfigs"
    [multiple]="true"
    [filter]="true"
    [checkbox]="true"
    [style]="{'width':'100%'}">
  </p-listbox>

  <div style="margin-top: .5em;">

    <p-button
      label="Delete"
      (onClick)="onJsonDeleteConfigAccepted()">
    </p-button>

    <p-button
      label="Cancel"
      (onClick)="onJsonDeleteConfigCanceled()">
    </p-button>

  </div>

</p-dialog>



<!-- Incident Save As Dialog -->
<p-dialog header="Save Incident As" [(visible)]="showIncidentSaveAsDialog" [modal]="true" [style]="{width: '300px'}" styleClass="saveAsDialog">

  <div style="margin-bottom: .5em;" class="formLabel">Incident Name</div>

  <input pInputText #saveAsInput type="text" [(ngModel)]="saveAsConfigName" class="inputDisplay"/>

  <div style="margin-top: .5em;">{{saveAsOkayButtonDisabled ? 'This name is already in use' : '&nbsp;'}}</div>

  <div style="margin-top: .5em; float: right;">

    <p-button label="Save" (onClick)="onIncidentSaveAsAccepted()" [disabled]="saveAsOkayButtonDisabled"></p-button>

    <p-button label="Cancel" (onClick)="onIncidentSaveAsCanceled()"></p-button>

  </div>

</p-dialog>



<!-- Create Incident from RAW JSON Dialog -->
<p-dialog
  header="Create Incident from Raw JSON"
  [(visible)]="showCreateIncidentFromJsonDialog"
  [modal]="true"
  [style]="{width: '50%', maxHeight: '75%'}"
  styleClass="bulkCreateDialog">

    <div>

      <div class="formLabel" style="margin-bottom: .5em;">
        Incidents created using this method will go through incident classification & mapping under the "Demisto REST API" integration in the dropdown in Settings -> Integrations -> Classification & Mapping.  The '/incident/json' XSOAR API call is used for this.
      </div>

      <div class="formLabel">
        Select XSOAR servers to push JSON incident to:
      </div>

      <p-listbox
        [options]="demistoEndpointsItems"
        [(ngModel)]="selectedRawJsonCreationEndpoints"
        [style]="{'width':'100%'}"
        [multiple]="true"
        [checkbox]="true"
        [filter]="true">
      </p-listbox>

    </div>

    <div style="margin-top: .5em; float: right;">

      <p-button
        label="Create Incident"
        (onClick)="onCreateIncidentFromJson()"
        [disabled]="selectedRawJsonCreationEndpoints.length === 0">
      </p-button>

      <p-button
        label="Cancel"
        (onClick)="onCreateIncidentFromRawJsonCancelled()">
      </p-button>

    </div>

</p-dialog>