<ng-container *ngIf="field.hasOwnProperty('fieldType')">
  
  <!-- Enabled -->
  <div style="vertical-align: top;">

    <p-checkbox
      [(ngModel)]="enabled"
      [binary]="true"
      [disabled]="field.shortName === 'type' || field.locked"
      standalone>
    </p-checkbox>

  </div>

  <!-- Field Name -->
  <div
    class="fieldLabel"
    [class.locked]="field.locked">
      <span
        *ngIf="field.locked"
        class="pi pi-info-circle"
        style="color: white; line-height: 14px; vertical-align: middle;"
        [pTooltip]="field.locked ? field.lockedReason : undefined">
      </span> 
      {{displayShortNames ? field.shortName : (field.longName ? field.longName : field.shortName)}}
      
  </div>

  <!-- Field Type -->
  <div class="fieldLabel">
    {{field.fieldType}}
  </div>

  <!-- Mapping Method -->
  <div class="fieldLabel">

    <p-dropdown
      *ngIf="field.fieldType !== 'attachments' && field.shortName !== 'attachment'"
      [options]="mappingMethodItems"
      [(ngModel)]="mappingMethod">
    </p-dropdown>

    <span
      *ngIf="field.fieldType === 'attachments' || field.shortName === 'attachment'">
        Static
    </span>

  </div>

  <!-- Static Field -->
  <ng-container *ngIf="mappingMethod === 'static'">

    <ng-container *ngTemplateOutlet="staticField"></ng-container>

  </ng-container> 

  <!-- JMESPath Mapped Field -->
  <ng-container *ngIf="mappingMethod === 'jmespath'">

    <ng-container *ngTemplateOutlet="mappedField"></ng-container>

  </ng-container> 

  
</ng-container>




<!----------------- Templates -------------------->


<!-- Static Field, Supported Type -->
<ng-template #staticField>
  
  <div *ngIf="['shortText', 'longText', 'number', 'url', 'boolean', 'html', 'role', 'singleSelect', 'date', 'user', 'multiSelect', 'markdown', 'grid', 'internal', 'attachments', 'tagsSelect'].includes(field.fieldType); else staticFieldNotYetSupported" class="valueContainer">

    <div style="flex-basis: auto; flex-grow: 1;">

      <!-- shortText, user, role, singleSelect, multiSelect -->
      <input
        pInputText
        type="text"
        *ngIf="['shortText', 'user', 'singleSelect', 'multiSelect'].includes(field.fieldType)"
        class="inputDisplay"
        [(ngModel)]="field.value"
        (ngModelChange)="onValueChanged($event)"/>
      
      <!-- url -->
      <input
        pInputText  
        type="url"
        *ngIf="field.fieldType === 'url'"  
        class="inputDisplay"
        [(ngModel)]="field.value"
        (ngModelChange)="onValueChanged($event)"/>

      <!-- longText, html, markdown -->
      <textarea
        pInputTextarea
        *ngIf="['longText', 'html', 'markdown'].includes(field.fieldType)"
        class="inputDisplay"
        [(ngModel)]="field.value"
        (ngModelChange)="onValueChanged($event)">
      </textarea>
      
      <!-- number -->
      <input
        pInputText
        type="number"
        *ngIf="field.fieldType === 'number'"
        class="inputDisplay"
        [(ngModel)]="field.value"
        (ngModelChange)="onValueChanged($event)"/>

      <!-- boolean -->
      <p-selectButton
        *ngIf="field.fieldType === 'boolean'"
        [options]="boolItems"
        [(ngModel)]="field.value"
        (onChange)="onValueChanged($event)"
        standalone>
      </p-selectButton>

      <!-- date -->
      <p-calendar
        *ngIf="field.fieldType === 'date'"
        [(ngModel)]="dateFieldValue"
        [showTime]="true"
        hourFormat="24"
        (ngModelChange)="onDateChanged()"
        [monthNavigator]="true"
        [yearNavigator]="true"
        yearRange="2018:2100"
        [showButtonBar]="true"
        styleClass="inputDisplay"
        inputStyleClass="inputDisplay">
      </p-calendar>

      <!-- objects - grid, internal, 'multiSelect', 'role', 'tagsSelect' -->
      <span
        *ngIf="['grid', 'internal', 'multiSelect', 'role', 'tagsSelect'].includes(field.fieldType) && field.shortName !== 'attachment'"
        (click)="onEditJSONClicked()"
        class="editJsonLink">
          Edit JSON
      </span>

      <!-- attachments -->
      <ng-container *ngIf="['attachments'].includes(field.fieldType) || field.shortName === 'attachment'">

        <ng-container *ngTemplateOutlet="attachmentValueColumn"></ng-container>

      </ng-container>

    </div>
    
  </div>



  <div class="valueContainer">

    <!-- Select Value From JSON Icon -->
    <vertical-center>

      <div
        style="margin-left: .1em; font-size: 2em;"
        class="pi pi-arrow-circle-right"
        [class.enabledIcon]="jsonLoaded && !(field.shortName === 'attachment' || field.fieldType === 'attachments')"
        [class.disabledIcon]="!jsonLoaded || (field.shortName === 'attachment' || field.fieldType === 'attachments')"
        (mouseover)="selectValueHovering = true"
        (mouseout)="selectValueHovering = false"
        [style.cursor]="jsonLoaded && selectValueHovering ? 'pointer' : 'default'"
        (click)="onStaticSelectValueFromJsonClicked()"
        pTooltip="Select value from JSON"
        showDelay="750">
      </div>

    </vertical-center>

  
    <!-- Reset Value Icon -->
    <vertical-center>

      <div
        style="margin-left: .1em; font-size: 2em;"
        class="pi pi-refresh"
        [class.enabledIcon]="field.shortName !== 'type' && field.value !== field.originalValue"
        [class.disabledIcon]="field.shortName === 'type' && field.value === field.originalValue"
        (mouseover)="resetValueHovering = true"
        (mouseout)="resetValueHovering = false"
        [style.cursor]="field.value !== field.originalValue && resetValueHovering ? 'pointer' : 'default'"
        (click)="onResetValueClicked()"
        pTooltip="Resets the value"
        showDelay="750">
      </div>

    </vertical-center>
  
    <!-- Delete Field -->
    <vertical-center>

      <div
        class="pi pi-times enabledIcon"
        style="margin-left: .1em; font-size: 2em;"
        (click)="onDeleteFieldClicked()"
        pTooltip="Delete field"
        showDelay="750">
      </div>
      
    </vertical-center>

  </div>


</ng-template>



<!-- Static Field, Unsupported Type -->
<ng-template #staticFieldNotYetSupported>

  <div class="valueContainer">

    <div style="flex-basis: auto; flex-grow: 1;">

      <!-- objects -->
      <span *ngIf="valueType === 'object'; else text" (click)="onEditJSONClicked()" class="editJsonLink">View JSON</span>

      <ng-template #text>

        <span>{{field.value}}</span>

      </ng-template>

    </div>

  </div>

</ng-template>



<!-- JMESPath Mapping -->
<ng-template #mappedField>

  <div class="valueContainer">

    <div style="flex-basis: auto; flex-grow: 1;">

      <div style="position: relative;">

        <!-- Non-Date Field Input Box -->
        <input
          *ngIf="field.fieldType !== 'date'"
          pInputText
          type="text"
          [(ngModel)]="field.jmesPath"
          (ngModelChange)="jmesPathResolve(field.jmesPath)"
          class="inputDisplay"/>

        <!-- Date Field Input Box -->
        <input
          *ngIf="field.fieldType === 'date'"
          pInputText
          type="text"
          [(ngModel)]="field.jmesPath"
          (ngModelChange)="jmesPathResolve(field.jmesPath, true)"
          class="inputDisplay"/>

        <!-- Transformer Curly-Bracket Icon -->
        <div
          *ngIf="field.fieldType === 'date'"
          class="curly-bracket-button"
          [class.disabledIcon]="resolvedValue === undefined"
          (click)="onShowDateTransformOptionsClicked()"
          [style.cursor]="resolvedValue !== undefined ? 'pointer' : 'default'"
          pTooltip="Date Transform"
          showDelay="750">
        </div>

      </div>
           

      <!-- Resolved Non-Object Value -->
      <div
        *ngIf="json && valueType !== 'object' && jmesPath !== ''"
        class="jmesPathResolved"
        [class.jmesPathError]="jmesPathResolveError !== undefined">

          <span
            *ngIf="jmesPathResolveError"
            class="pi pi-info-circle"
            style="color: white;"
            [pTooltip]="jmesPathResolveError">
          </span>

          <span
            *ngIf="field.fieldType === 'date'"
            style="font-weight: bold;"
            class="fieldColour">
              Resolved: 
          </span>

          {{resolvedValue}}

      </div>

      <!-- Transformed Date Value -->
      <div
        *ngIf="json && field.fieldType === 'date' && jmesPath !== ''"
        class="jmesPathResolved"
        [class.transformerError]="dateTransformError">

          <span
            *ngIf="dateTransformError"
            class="pi pi-info-circle"
            style="color: white;"
            pTooltip="moment.js failed to parse the date field.  Check the date transformer config.">
          </span>

          <span
            style="font-weight: bold;"
            class="fieldColour">
              Transformed: 
          </span>
          {{transformedValue}}
      </div>

      <!-- Resolved Object Value -->
      <div
        *ngIf="json && valueType === 'object' && jmesPath !== ''"
        class="editJsonLink" (click)="onViewJSONClicked(resolvedValue)">
          View JSON
      </div>
    
    </div>
   
  </div>
  
  <!-- Action Icons -->
  <div class="valueContainer">

    <!-- Select Value Icon -->
    <!--- not using vertical-center here due to non-standard usage-->
    <div
      class="verticalCenter"
      [class.verticalTop]="field.fieldType === 'date'">

        <div
          style="margin-left: .1em; font-size: 2em;"
          class="pi pi-arrow-circle-right"
          [class.enabledIcon]="jsonLoaded"
          [class.disabledIcon]="!jsonLoaded"
          (mouseover)="selectValueHovering = true"
          (mouseout)="selectValueHovering = false"
          [style.cursor]="jsonLoaded && selectValueHovering ? 'pointer' : 'default'"
          (click)="onJMESPathSelectValueFromJsonClicked()"
          pTooltip="Select a JMESPath from JSON"
          showDelay="750">
        </div>

        <div></div>

        <div></div>
        
    </div>

    <!-- Permit Null Value Checkbox -->
    <!--- not using vertical-center here due to non-standard usage-->
    <div
      *ngIf="field.fieldType !== 'date'"
      class="verticalCenter">

        <p-checkbox
          [binary]="true"
          [(ngModel)]="field.permitNullValue"
          pTooltip="Permit null value in incident field"
          showDelay="750">
        </p-checkbox>

        <div></div>

        <div></div>

    </div>

    <!-- Delete Field -->
    <!--- not using vertical-center here due to non-standard usage-->
    <div
      class="verticalCenter"
      [class.verticalTop]="field.fieldType === 'date'">

        <div></div>

        <div
          class="pi pi-times enabledIcon"
          style="font-size: 2em; cursor: pointer;"
          (click)="onDeleteFieldClicked()"
          pTooltip="Delete field"
          showDelay="750">
        </div>

        <div></div>

      </div>

    </div>

</ng-template>


<!-- Date Transform Options Dialog -->
<p-dialog
  *ngIf="showDateTransformOptions"
  header="Date Transform Options"
  [(visible)]="showDateTransformOptions"
  [modal]="true"
  [style]="{maxWidth: '80%', maxHeight: '75%'}"
  class="dateTransformDialog"
  styleClass="bulkCreateDialog">

    <div class="formLabel" style="margin-bottom: 1em;">
      Select transformations to apply to the resolved date value:
    </div>

    <div class="dateTransformGrid">

      <div class="dialogLabel">
        Field:
      </div>

      <div style="font-weight: bold; font-size: 1.1em;">
        {{field.shortName}}
      </div>

      <div class="dialogLabel">
        JMESPath:
      </div>

      <div style="font-weight: bold; font-size: 1.1em;">
        {{field.jmesPath}}
      </div>

      <div class="dialogLabel">
        Resolved Value:
      </div>
      
      <div style="font-weight: bold; font-size: 1.1em;">
        {{resolvedValue}}
      </div>

      <vertical-center class="dialogLabel">
        <!-- we don't use transformedValue here as we want the unaccepted results -->
        Transformed Value (in UTC):
      </vertical-center>

      <div style="color: black; font-weight: bolder; font-size: 1.5em;">
        {{transformDate(true)}}
      </div>

      <ng-container *ngIf="resolvedValueType === 'number'">

        <vertical-center class="dialogLabel">
          Precision:&nbsp;
        </vertical-center>

        <div>
          <p-selectButton
            [options]="datePrecisionItems"
            [(ngModel)]="selectedDatePrecision">
          </p-selectButton>
        </div>

      </ng-container>

      <ng-container *ngIf="resolvedValueType === 'string'">

        <!-- Auto Transform -->
        <div class="dialogLabel">
          Parse Date String Automatically:
        </div>

        <div>
          <p-checkbox
            [binary]="true"
            name="auto"
            [(ngModel)]="dateAutoParse">
          </p-checkbox>
        </div>

        <!-- Formatter -->
        <vertical-center class="dialogLabel">
          Date Format String: 
        </vertical-center>
        
        <div style="display: flex; flex-direction: row;">

          <div style="flex-grow: 1;">
            <input
              pInputText
              id="date-formatter"
              type="text"
              size="30"
              [(ngModel)]="dateFormatter"
              [disabled]="dateAutoParse"
              class="inputDisplay">
          </div>

          <vertical-center>
            &nbsp;
              <a href="https://momentjs.com/docs/#/parsing/string-format/" target="blank">Help</a>
          </vertical-center>
          
        </div>
      
      </ng-container>
      
      <!-- UTC Offset -->
      <vertical-center class="dialogLabel">
        Source{{valueType === 'number' ? ' UTC' : undefined}} Offset:
      </vertical-center>

      <div>

        <!-- Enable UTC Offset? -->
        Enabled:&nbsp;

        <p-checkbox
          name="enableUtcOffset"
          [binary]="true"
          [(ngModel)]="enableUtcOffset">
        </p-checkbox>
        

        <!-- UTC Offset Value -->
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+/- Hours:&nbsp;
          <input
            id="date-utc-offset"
            type="number"
            size="6"
            pInputText
            [(ngModel)]="dateUtcOffset"
            min="-16"
            max="16">

      </div>
     
    </div>

    <div style="margin-top: .5em; float: right;">

      <p-button
        label="Accept"
        (onClick)="onDateTransformOptionsAccepted()">
      </p-button>

      <p-button
        label="Cancel"
        (onClick)="onDateTransformOptionsCancelled()">
      </p-button>

    </div>

</p-dialog>



<!-- Add Attachments Dialog -->
<p-dialog
  *ngIf="fileAttachmentsToAddItems"
  header="Choose Attachments to Add"
  [(visible)]="displayAddFileAttachmentsDialog"
  [modal]="true"
  [draggable]="false"
  [style]="{width: '25em', 'max-height': '75vh'}"
  class="selectAttachmentsDialog"
  styleClass="openDialog">

    <!--<div class="formLabel">Incident Fields to Add</div>-->

    <p-listbox
      #incidentFieldListBox
      [options]="fileAttachmentsToAddItems"
      [(ngModel)]="selectedFileAttachmentsToAdd"
      [style]="{ 'width': '100%'}"
      [listStyle]="{'height': '50vh'}"
      [multiple]="true"
      [checkbox]="true"
      [filter]="true"
      styleClass="addIncidentFieldListbox">
    </p-listbox>

    <div style="margin-top: .5em; float: right;">

      <p-button
        label="Add"
        (onClick)="onAddFileAttachmentsAccept()"
        [disabled]="!selectedFileAttachmentsToAdd || selectedFileAttachmentsToAdd.length === 0">
      </p-button>

      <p-button
        label="Cancel"
        (onClick)="displayAddFileAttachmentsDialog = false">
      </p-button>

    </div>

</p-dialog>



<!-- Configure Attachment Options Dialog -->
<p-dialog
  *ngIf="configureFileAttachmentUIConfig"
  header="Attachment Options"
  [(visible)]="showFileAttachmentOptionsDialog"
  [modal]="true"
  [style]="{width: '50%'}"
  class="overrideAttachmentOptionsDialog"
  styleClass="newDemistoEndpointDialog">


  <div>
    <!-- Download -->
    <p-button
      label="Download"
      (onClick)="onDownloadFileAttachmentClicked(configureFileAttachmentUIConfig.id)"
      styleClass="alignButton">
    </p-button>
  </div>

  <div
    class="newAttachmentFileUploadGrid"
    style="margin-top: 1.5em;">

    <!-- File Size -->
    <ng-container *ngIf="configureFileAttachmentSize">

      <div class="dialogLabel">
        File Size:
      </div>

      <div style="font-weight: bold; font-size: 1.1em;">
        
        {{configureFileAttachmentSize}} bytes

      </div>

    </ng-container>

    <!-- File Type -->
    <ng-container *ngIf="configureFileAttachmentType">

      <div class="dialogLabel">
        File Type:
      </div>

      <div style="font-weight: bold; font-size: 1.1em;">
        
        {{configureFileAttachmentType}}

      </div>

    </ng-container>

    <!-- Override Checkboxes -->
    <div class="dialogLabel">
      Override:
    </div>

    <div style="font-weight: bold; font-size: 1.1em;">
      
      <p-checkbox
        [(ngModel)]="configureOverrideFileAttachmentName"
        [binary]="true"
        label="Filename">
      </p-checkbox>

      &nbsp;

      <p-checkbox
        [(ngModel)]="configureOverrideFileAttachmentComment"
        [binary]="true"
        label="Comment">
      </p-checkbox>

      &nbsp;

      <p-checkbox
        *ngIf="configureFileAttachmentType && configureFileAttachmentType.startsWith('image')"
        [(ngModel)]="configureOverrideFileAttachmentDisplayAsMediaSelection"
        [binary]="true"
        label="Display as media">
      </p-checkbox>

    </div>

    
    
    <!-- Original File Name -->
    <div class="dialogLabel">
      Original Filename:
    </div>

    <div style="font-weight: bold; font-size: 1.1em;">
      {{configureFileAttachmentUIConfig.originalFilename}}
    </div>

    <!-- New File Name -->
    <ng-container *ngIf="configureOverrideFileAttachmentName">

      <div class="dialogLabel">
        New Filename:
      </div>
  
      <div style="font-weight: bold; font-size: 1.1em;">
        
        <input
          pInputText
          [(ngModel)]="configureFileAttachmentName"
          class="inputDisplay"
          type="text"/>
  
      </div>

    </ng-container>

    <!-- Show as Media File -->
    <ng-container *ngIf="configureFileAttachmentType && configureFileAttachmentType.startsWith('image')">

      <div class="dialogLabel">
        Original Display Option:
      </div>

      <div style="font-weight: bold; font-size: 1.1em;">
        {{configureFileAttachmentUIConfig.originalMediaFile ? 'As media (not secure)' : 'As file (recommended)'}}
      </div>

      <ng-container *ngIf="configureOverrideFileAttachmentDisplayAsMediaSelection">

        <div class="dialogLabel">
          New Display Option:
        </div>
  
        <div style="font-weight: bold; font-size: 1.1em;">
          
          <p-selectButton
            [options]="fileAttachmentDisplayAsMediaItems"
            [(ngModel)]="configureFileAttachmentDisplayAsMediaSelection">
          </p-selectButton>
  
        </div>

      </ng-container>

    </ng-container>

    <!-- Original Comment -->
    <div class="dialogLabel">
      Original Comment:
    </div>

    <div style="font-weight: bold; font-size: 1.1em;">
      
      <span *ngIf="configureFileAttachmentUIConfig.originalComment; else noComment">
        {{configureFileAttachmentUIConfig.originalComment}}
      </span>

      <ng-template #noComment>

        <span style="font-style: italic;">
          Not defined
        </span>

      </ng-template>

      
    </div>

    <!-- New Comment -->
    <ng-container *ngIf="configureOverrideFileAttachmentComment">

      <div class="dialogLabel">
        New Comment:
      </div>
  
      <div style="font-weight: bold; font-size: 1.1em;">
        
        <textarea
          pInputTextarea
          [(ngModel)]="configureFileAttachmentComment"
          class="inputDisplay">
        </textarea>
  
      </div>

    </ng-container>


  </div>

  <div style="margin-top: .5em; float: right;">

    <p-button
      type="submit"
      label="Ok"
      (onClick)="onConfigureFileAttachmentSubmit()"
      [disabled]="configureOverrideFileAttachmentName && configureFileAttachmentName === ''">
    </p-button>

    <p-button
      label="Cancel"
      (onClick)="onConfigureFileAttachmentCancelled()">
    </p-button>

  </div>

</p-dialog>



  <!-- Attachments Value Template -->
  <ng-template #attachmentValueColumn>

    <div>

      <span
        *ngIf="fileAttachmentConfigsList && fileAttachmentConfigsList.length !== 0"
        (click)="onAddAttachmentsToFieldClicked()"
        class="editJsonLink">

          Add Attachments

      </span>

      <span
        *ngIf="fileAttachmentConfigsList && fileAttachmentConfigsList.length === 0"
        class="fieldColour">

          No attachments available

          <span
            class="pi pi-info-circle"
            style="font-size: 1.75em; color: white; line-height: 14px; vertical-align: middle;"
            pTooltip="Upload an attachment using the 'File Attachments' button above"
            showDelay="750">
          </span>

      </span>
      
    </div>

    <div
      *ngFor="let item of chosenFileAttachments"
      style="display: flex; flex-direction: row;">

        <div class="fieldLabel" style="font-weight: bolder;">

          <span
            class="pi pi-times enabledIcon"
            (click)="onRemoveAttachmentClicked(item.id)"
            pTooltip="Remove attachment"
            showDelay="750">
          </span>

          <span
            class="pi pi-pencil enabledIcon"
            (click)="onConfigureFileAttachmentClicked(item)"
            pTooltip="Remove attachment"
            showDelay="750">
          </span>
          
          <span style="color: white;">
            {{item.overrideFilename ? item.filename : item.originalFilename}}
          </span>

        </div>

    </div>

  </ng-template>