<!-- Loaded Configuration Name Container -->
<p-card *ngIf="loadedIncidentConfigName" header="Loaded Configuration Name">
  <div style="margin-top: 1em;">
    <span class="formLabel" style="font-size: 18px;">{{loadedIncidentConfigName}}</span>
  </div>
</p-card>



<!-- Create Investigation Container -->
<p-card *ngIf="json" header="Create Investigation" subheader="If enabled, this option will cause an investigation to be created along with a new incident.  This means that any playbook associated with the case type will be automatically executed, if the underlying incident type is configured to do so.">

  <div style="margin-top: 1em;">

    <p-selectButton
      name="createInvestigation"
      [options]="createInvestigationButtonItems"
      [ngModel]="createInvestigation">
    </p-selectButton>
    
  </div>

</p-card>



<div class="fieldsForm">

  <!-- Incident Fields Container -->
  <div style="min-width: 0;">
    <p-card header="Incident Fields" subheader="Select the main incident fields to include in the new incident">

      <!-- Select / Toggle Buttons -->
      <div>

        <p-button type="button" label="Reset Values" (onClick)="onResetAllFieldValues()" [disabled]="!currentDemistoEndpointInit"></p-button>

      </div >

      <!-- Incident Fields -->
      <div class="fieldContainer">

        <div>
          <p-checkbox [(ngModel)]="incidentFieldsSelectAllState" [binary]="true" (onChange)="onToggleAllIncidentFields()"></p-checkbox>
        </div>

        <header>Name</header>

        <header>Type</header>

        <header>Value</header>

        <ng-container *ngFor="let field of incidentFields | keyvalue">

          <incident-field-row
            *ngIf="![undefined, null].includes(field.value.value)"
            #incidentField
            [field]="incidentFields[field.key]"
            (fieldChange)="onIncidentFieldChanged(field.key, $event)"
            [displayShortNames]="displayIncidentFieldShortNames">
          </incident-field-row>

        </ng-container>
      </div>

    </p-card>
  </div>



  <!-- Custom Fields Container -->
  <div style="min-width: 0;">
    <p-card header="Custom Fields" subheader="Select the custom fields to include in the new incident">

      <!-- Select / Toggle Buttons -->
      <div>

        <p-button type="button" label="Reset Values" (onClick)="onResetAllCustomFieldValues()" [disabled]="!currentDemistoEndpointInit"></p-button>

        <p-toggleButton [onLabel]="shortNamesLabel" [offLabel]="longNamesLabel" [(ngModel)]="displayCustomFieldShortNames" name="shortCustomNames" [disabled]="!currentDemistoEndpointInit"></p-toggleButton>

        <p-button type="button" label="Reload Definitions" name="createIncident" (onClick)="onReloadFieldDefinitions()" [disabled]="!currentDemistoEndpointInit" pTooltip="Reload the field definitions from XSOAR"></p-button>

      </div >

      <!-- Custom Fields -->
      <div class="fieldContainer">

        <div>
          <p-checkbox [(ngModel)]="customFieldsSelectAllState" [binary]="true" (onChange)="onToggleAllCustomFields()" [disabled]="!customFields || (customFields && customFieldsLen === 0)"></p-checkbox>
        </div>

        <header>Name</header>

        <header>Type</header>

        <header>Value</header>

        <ng-container *ngFor="let field of customFields | keyvalue">

          <incident-field-row
            #customField
            *ngIf="![undefined, null].includes(field.value.value)"
            [field]="customFields[field.key]"
            (fieldChange)="onCustomFieldChanged(field.key, $event)"
            [displayShortNames]="displayCustomFieldShortNames">
          </incident-field-row>

        </ng-container>
      </div>

    </p-card>
  </div>


  



  <!-- Submit Button -->
  <div style="margin-top: 1em;">
    &nbsp;&nbsp;<button pButton type="button" label="Create Incident" (click)="onCreateIncident()" [disabled]="!json || countEnabledFields() === 0"></button>
  </div>



</div>






<!-- Incident Save As Dialog -->
<p-dialog header="Save Incident As" [(visible)]="showSaveAsDialog" [modal]="true" [style]="{width: '300px'}" styleClass="saveAsDialog">

  <div style="margin-bottom: .5em;" class="formLabel">Incident Name</div>

  <input pInputText #saveAsInput type="text" [(ngModel)]="saveAsConfigName" class="inputDisplay"/>

  <div style="margin-top: .5em;">{{saveAsOkayButtonDisabled ? 'This name is already in use' : '&nbsp;'}}</div>

  <div style="margin-top: .5em; float: right;">

    <p-button label="Save" (onClick)="onSaveAsAccepted()" [disabled]="saveAsOkayButtonDisabled"></p-button>

    <p-button label="Cancel" (onClick)="onSaveAsCanceled()"></p-button>

  </div>

</p-dialog>



