<ng-container *ngIf="field.hasOwnProperty('fieldType')">
  
  <!-- Field Enabled Checkbox -->
  <div style="vertical-align: top;">
    <p-checkbox [(ngModel)]="field.enabled" (onChange)="onSelectionChanged($event)" [binary]="true" [disabled]="field.locked" standalone></p-checkbox>
  </div>

  <!-- Field Name -->
  <div class="fieldLabel" [class.locked]="field.locked" [pTooltip]="field.lockedReason" [tooltipDisabled]="!field.locked" showDelay="750">
    &nbsp;{{displayShortNames ? field.shortName : (field.longName ? field.longName : field.shortName)}}&nbsp;
  </div>

  <!-- Field Type -->
  <div>
    <span class="fieldLabel">{{field.fieldType}}</span>
  </div>

  <!-- Field Value -->
  <div *ngIf="['shortText', 'longText', 'number', 'url', 'boolean', 'html', 'role', 'singleSelect', 'date', 'user', 'multiSelect', 'markdown', 'grid', 'internal', 'attachments', 'tagsSelect'].includes(field.fieldType); else notYetSupported" class="valueContainer">

    <div style="flex-basis: auto; flex-grow: 1;">

      <!-- shortText, user, singleSelect -->
      <input *ngIf="['shortText', 'user', 'singleSelect'].includes(field.fieldType)" class="inputDisplay" pInputText [(ngModel)]="field.value" (ngModelChange)="onValueChanged($event)" type="text"/>
      
      <!-- url -->
      <input *ngIf="field.fieldType === 'url'" pInputText class="inputDisplay" [(ngModel)]="field.value" (ngModelChange)="onValueChanged($event)" type="url"/>

      <!-- longText, html, markdown -->
      <textarea *ngIf="['longText', 'html', 'markdown'].includes(field.fieldType)" pInputTextarea class="inputDisplay" [(ngModel)]="field.value" (ngModelChange)="onValueChanged($event)"></textarea>
      
      <!-- number -->
      <input *ngIf="field.fieldType === 'number'" pInputText class="inputDisplay" [(ngModel)]="field.value" (ngModelChange)="onValueChanged($event)" type="number"/>

      <!-- boolean -->
      <p-selectButton *ngIf="field.fieldType === 'boolean'" [options]="boolOptions" [(ngModel)]="field.value" (onChange)="onValueChanged($event)" standalone></p-selectButton>

      <!-- date -->
      <p-calendar *ngIf="field.fieldType === 'date'" [(ngModel)]="dateFieldValue" [showTime]="true" hourFormat="24" (ngModelChange)="onDateChanged()" [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2100" [showButtonBar]="true"></p-calendar>

      <!-- objects - grid, internal, 'multiSelect', 'role', 'tagsSelect' -->
      <span *ngIf="['grid', 'internal', 'multiSelect', 'role', 'tagsSelect'].includes(field.fieldType)" (click)="onEditJSON()" class="editJsonLink">Edit JSON</span>

      <!-- attachments -->
      <span *ngIf="['attachments'].includes(field.fieldType)" (click)="onEditJSON()" class="editJsonLink">View JSON</span>

    </div>

    <!-- Reset Value Icon -->
    <div class="verticalCenter">
      <div></div>
      <div [class.enabledIcon]="field.value !== field.originalValue" [class.disabledIcon]="field.value === field.originalValue" style=" margin-left: .1em; font-size: 2em;" class="pi pi-refresh" (click)="onResetValue()" [pTooltip]="resetValueTooltip" showDelay="750"></div>
      <div></div>
    </div>

  </div>

  
  <ng-template #notYetSupported>

    <div class="valueContainer">

      <div style="flex-basis: auto; flex-grow: 1;">

        <!-- objects -->
        <span *ngIf="detectedFieldType === 'object'; else text" (click)="onEditJSON()" class="editJsonLink">View JSON</span>

        <ng-template #text>
          <span>{{field.value}}</span>
        </ng-template>

        

      </div>

    </div>

  </ng-template>



</ng-container>
