<!-- Loaded Configuration Name Container -->
<p-card *ngIf="loadedJsonMappingConfigName" header="Loaded Mapping Name">
  
  <div style="margin-top: 1em;">
    <span class="formLabel" style="font-size: 18px;">{{loadedJsonMappingConfigName}}</span>
  </div>

</p-card>




<!-- Select Incident Type Container -->
<p-card *ngIf="fetchedIncidentFieldDefinitions" header="Incident Type" subheader="Select an incident type on which to map JSON data.">

  <div style="margin-top: 1em;">
    
    <p-dropdown
      [options]="incidentTypeItems"
      [(ngModel)]="selectedIncidentType"
      (onChange)="onIncidentTypeChanged($event.value)"
      [filter]="true"
      placeholder="Select an incident type"
      [style]="{'width': '40em'}">
    </p-dropdown>
  
  </div>

</p-card>



<!-- Upload 3rd-Party JSON -->
<p-card *ngIf="selectedIncidentType" header="JSON Data" subheader="Upload a JSON file from which to map fields.  The origin can be of any type, as long as it is valid JSON.">

  <div style="margin-top: 1em;">
    
     <p-fileUpload #fileUpload
      name="myfile[]"
      mode="basic"
      chooseLabel="Any JSON"
      [customUpload]="true"
      (uploadHandler)="onFreeformJsonUploaded($event, fileUpload)"
      accept=".json,.txt"
      [multiple]="false"
      [auto]="true"
      pTooltip="Import an incident from a JSON file"
      showDelay="750">
    </p-fileUpload>
  
    <span>
      
      &nbsp;
      
      <p-button
        *ngIf="parsedJson"
          label="View JSON"
          type="button"
          (onClick)="onShowBasicJsonViewerClicked()">
      </p-button>

    </span>

    <span style="color: white;">&nbsp;{{parsedJson ? "Loaded" : "Not Loaded"}}</span>

  </div>

</p-card>



<!-- Create Investigation Container -->
<p-card *ngIf="chosenIncidentFields" header="Create Investigation" subheader="If enabled, this option will cause an investigation to be created along with a new incident.  This means that any playbook associated with the case type will be automatically executed, if the underlying incident type is configured to do so.">

  <div style="margin-top: 1em;">

    <p-selectButton
      name="createInvestigation"
      [options]="createInvestigationButtonItems"
      [(ngModel)]="createInvestigation">
      <!-- (ngModelChange)="createInvestigationChange.emit($event)" -->
    </p-selectButton>

  </div>

</p-card>



<div *ngIf="chosenIncidentFields" class="fieldsForm">


  <!-- Incident Fields Container -->
  <div style="min-width: 0;">
    <p-card header="Incident Fields" subheader="Select the main incident fields to include in the new incident">

      <!-- Select / Toggle Buttons -->
      <div>

        <!-- I don't think reset is required for freeform -->
        <!-- <p-button type="button" label="Reset Values" (onClick)="onResetAllFieldValues()" [disabled]="!currentDemistoEndpointInit"></p-button>--> 

        <!-- Add Field Button -->
        <p-button type="button" label="Add Field" (onClick)="onAddIncidentFieldClicked()"></p-button>

      </div>

      <!-- Incident Fields -->
      <div class="freeformFieldContainer">

        <div>
          <p-checkbox
            [(ngModel)]="incidentFieldsSelectAllState"
            [binary]="true"
            (onChange)="onToggleAllChosenIncidentFields()">
          </p-checkbox>
        </div>

        <header>Name</header>

        <header>Type</header>

        <header pToolTip="The method by which to map the field's value">Method</header>

        <header>Value</header>

        <header><i class="pi pi-times" style="font-size: 2em;" pTooltip="Delete All" showDelay="750" (click)="onDeleteAllIncidentFielsdClicked()"></i></header>

        <ng-container *ngFor="let field of chosenIncidentFields | keyvalue">

          <field-display-freeform
            *ngIf="![undefined, null].includes(field.value.value)"
              #incidentField
              [field]="field.value"
              [displayShortNames]="displayIncidentFieldShortNames"
              (fieldDeleted)="onIncidentFieldRemoved($event)">
              <!-- (fieldChange)="onIncidentFieldChanged(field.key, $event)" -->
          </field-display-freeform>

        </ng-container>
      </div>

    </p-card>
  </div>



  <!-- Custom Fields Container -->
  <div style="min-width: 0;">
    <p-card header="Custom Fields" subheader="Select the custom fields to include in the new incident">

      <!-- Select / Toggle Buttons -->
      <div>

        <!-- Add Field Button -->
        <p-button type="button" label="Add Field" (onClick)="onAddCustomFieldClicked()"></p-button>

        <!-- I don't think reset is required for freeform -->
        <!--<p-button type="button" label="Reset Values" (onClick)="onResetAllCustomFieldValues()" [disabled]="!currentDemistoEndpointInit"></p-button>-->

        <p-toggleButton *ngIf="chosenCustomFieldsLen !== 0" [onLabel]="shortNamesLabel" [offLabel]="longNamesLabel" [(ngModel)]="displayCustomFieldShortNames" name="shortCustomNames" [disabled]="!currentDemistoEndpointInit"></p-toggleButton>

        <!--
        <p-button type="button" label="Reload Definitions" name="createIncident" (onClick)="onReloadFieldDefinitions()" [disabled]="!currentDemistoEndpointInit" pTooltip="Reload the field definitions from XSOAR"></p-button>
        -->

      </div >

      <!-- Custom Fields -->
      <div class="freeformFieldContainer" *ngIf="chosenCustomFieldsLen !== 0 else noCustomFieldsChosen">

        <div>
          <p-checkbox [(ngModel)]="customFieldsSelectAllState" [binary]="true" (onChange)="onToggleAllChosenCustomFields()" [disabled]="!chosenCustomFields || (chosenCustomFields && chosenCustomFieldsLen === 0)"></p-checkbox>
        </div>

        <header>Name</header>

        <header>Type</header>

        <header pToolTip="The method by which to map the field's value">Method</header>

        <header>Value</header>

        <header><i class="pi pi-times" style="font-size: 2em;" pTooltip="Delete All" showDelay="750" (click)="onDeleteAllCustomFielsdClicked()"></i></header>

        <ng-container *ngFor="let field of chosenCustomFields | keyvalue">

          <field-display-freeform #customField *ngIf="![undefined, null].includes(field.value.value)" [field]="field.value" [displayShortNames]="displayCustomFieldShortNames" (fieldDeleted)="onCustomIncidentFieldRemoved($event)">
            <!-- (fieldChange)="onCustomFieldChanged(field.key, $event)" -->
          </field-display-freeform>

        </ng-container>
      </div>

    </p-card>
  </div>

  <ng-template #noCustomFieldsChosen>
    <h2 style="color: white;">
      Please add one or more custom fields, if so desired.
    </h2>
  </ng-template>



  <!-- Submit Button -->
  <!--<div style="margin-top: 1em;">
    &nbsp;&nbsp;<button pButton type="button" label="Create Incident" (click)="onCreateIncident()" [disabled]="!parsedIncidentJson || countEnabledFields() === 0"></button>
  </div>-->



</div>






<!-------------- FIELDS MODAL DIALOGS SECTION -------------->



<!-- Add Incident Field Dialog -->
<p-dialog *ngIf="incidentFieldsToAddItems" header="Choose Incident Fields to Add" [(visible)]="displayAddIncidentFieldDialog" [modal]="true" [draggable]="false" [style]="{width: '25em', 'max-height': '75vh'}" styleClass="openDialog">

  <!--<div class="formLabel">Incident Fields to Add</div>-->

  <p-listbox [options]="incidentFieldsToAddItems" [(ngModel)]="selectedFieldsToAdd" [style]="{ 'width': '100%'}" [listStyle]="{'height': '50vh'}" [multiple]="true" [checkbox]="true" [filter]="true"></p-listbox>

  <div style="margin-top: .5em; float: right;">

    <p-button label="Add" (onClick)="onAddIncidentFieldsAccept()" [disabled]="!selectedFieldsToAdd || selectedFieldsToAddLen === 0"></p-button>

    <p-button label="Cancel" (onClick)="displayAddIncidentFieldDialog = false"></p-button>

  </div>

</p-dialog>



<!-- Add Custom Field Dialog -->
<p-dialog *ngIf="customFieldsToAddItems" header="Choose Custom Fields to Add" [(visible)]="displayAddCustomFieldDialog" [modal]="true" [draggable]="false" [style]="{width: '25em', 'max-height': '75vh'}" styleClass="openDialog">

  <!--<div class="formLabel">Custom Fields to Add:</div>-->

  <p-listbox #customFieldListBox [options]="customFieldsToAddItems" [(ngModel)]="selectedCustomFieldsToAdd" [style]="{ 'width': '100%'}" [listStyle]="{'height': '50vh'}" [multiple]="true" [checkbox]="true" [filter]="true"></p-listbox>

  <div style="margin-top: .5em; float: right;">

    <p-button label="Add" (onClick)="onAddCustomFieldsAccept()" [disabled]="!selectedCustomFieldsToAdd || selectedCustomFieldsToAddLen === 0"></p-button>

    <p-button label="Cancel" (onClick)="displayAddCustomFieldDialog = false"></p-button>

  </div>

</p-dialog>



<!-- Freeform JSON Viewer / Selector -->
<p-dialog header="Freeform JSON Selector" [(visible)]="freeformJsonSelector" [modal]="true" [style]="{width: '75%'}">

  <ngx-json-viewer *ngIf="parsedJson" [json]="parsedJson" [firstLevel]="true"></ngx-json-viewer>

</p-dialog>